{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >
      <h4 class="text-center pt-5 pb-2 section-title-purple">填寫需求單</h4>

      <div class="row text-center mt-3" style="font-weight: 600;">
        <div class="col-6 col-md-3" style="color: #BB6BD9;">
          ① 需求基本資料
        </div>
        <div class="col-6 col-md-3" style="color: #BB6BD9;">
          ② 被照顧者資訊
        </div>
        <div class="col-6 col-md-3" style="color: #CCCCCC;">
          ③ 聯絡人
        </div>
        <div class="col-6 col-md-3" style="color: #CCCCCC;">
          ④ 確認送出
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-11 ">
          <hr>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">  
          <div class="col-11 mx-auto"> 
            <div class="py-4">
                  <div class="px-sm-3">
                      <p class="h6" style="font-weight: 600;">被照顧者資料：</p>
                      <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="same_patient" />
                        <label class="h6" for="same_patient">套用被照顧者資料</label>
                      </div> -->
                      <div class="">
                        <label class="h6" for="patient_name">姓名：</label>
                        <input class="booking-input" id="patient_name" name="patient_name" value="{{patient_name}}" type="text"/>
                      </div>

                      <div class="mt-3 h6" style="display: flex;">
                        <label class="h6" for="patient_gender" style="padding-top: 2px; padding-right: 10px;">性別：</label>
                        <label class="custom-radio-parent">男
                          <input type="radio" {% if gender == 'M' %}checked=""{% endif %} name="gender" value="M">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio-parent">女
                          <input type="radio" name="gender" {% if gender == 'F' %}checked=""{% endif %}  value="F">
                          <span class="checkmark"></span>
                        </label>      
                      </div>
                      <div class="">
                        <label class="h6" for="patient_weight">體重：</label>
                        <input class="booking-input" id="patient_weight" value="{{weight}}" name="weight" type="text"/>
                      </div>

                      <div class="mt-2 mb-4">
                        <label class="h6" for="patient_age">年齡：</label>
                        <input class="booking-input" id="patient_age" name="age" value="{{age}}" type="text"/>
                      </div>

                          <p class="h6" style="font-weight: 600;">疾病狀況：</p>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="disease_none" id="disease_none" {% if disease_none == True %}checked=""{% endif %} value='{{disease.none.id}}'/>
                            <label class="h6" for="disease_none">無</label>
                          </div>
                          <div class="row mx-0">
                              {% for disease in diseases %}
                                <div class="form-check " style="width:200px">
                                  <input class="form-check-input" type="checkbox" name="diseases[]" {% if disease in disease_list %}checked=""{% endif %}  value="{{disease.id}}" />
                                  <label class="h6" for="diseases[]">{{disease}}</label>
                                </div>
                              {% endfor %}                       
                          </div>
                          <div class="mb-4">
                            <input class="form-check-input" type="checkbox" name="disease_info" id="" />
                            <label class="h6" for="infectious_disease">傳染性疾病，補充說明：</label>
                            <textarea class="custom-form-control" id="infectious_disease" name="disease_text"  rows="3" placeholder="例：傳染性疾病名稱、病情狀況... ">{{disease_remark}}</textarea>
                          </div>

                          <p class="h6" style="font-weight: 600;">身體狀況：</p>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="body_condition_none" id="body_condition" {% if body_condition_none == True %}checked=""{% endif %} value="{{body_condition_none.id}}" />
                            <label class="h6" for="body_condition">無</label>
                          </div>
                          <div class="row mx-0">
                              {% for body_condition in body_conditions %}
                              <div class="form-check" style="width:200px">
                                <input class="form-check-input" type="checkbox" name="body_conditions[]" id="aids" {% if body_condition in body_condition_list %}checked=""{% endif %} value="{{body_condition.id}}" />
                                <label class="h6" for="body_conditions[]">{{body_condition}}</label>
                              </div>
                              {% endfor %}
                          </div>
                          <div class="mb-4">
                            <label class="h6" for="body_condition_note">身體狀況補充說明：</label>
                            <textarea class="custom-form-control" id="body_condition_note" name="body_condition_note" rows="3" placeholder="">{{conditions_remark}}</textarea>
                          </div>

                          <p class="h6" style="font-weight: 600;">需求服務項目：</p>
                          <div class="mb-4">
                            {% for service in services %}
                            <div class="form-check">
                              <input class="form-check-input" id="flexCheckChecked" type="checkbox" name="services[]" {% if service in service_list %}checked=""{% endif %} value="{{service.id}}" />
                              <label class="h6 mb-0" for="services[]">{{service}}</label>
                              {% if service.remark %}
                              <div class="">
                                <span class="sub-font">{{service.remark}}</span>
                              </div>
                              {% endif %}
                            </div>
                            {% endfor %}
                          </div>
                          
                          <p class="h6" style="font-weight: 600;">加價項目： <span style="color:#BB6BD9; font-weight: 400;">(價格 % 數依服務者自訂)</span> </p>
                          <div>
                            {% for increase_service in increase_service_ships %}
                            <div class="form-check">
                              <input class="form-check-input" id="increase_service_{{increase_service.service.id}}" type="checkbox" name="increase_services[]" {% if increase_service.service.id == 3 or increase_service.service.id == 4 %}onclick="return false;"{% endif %} {% if increase_service in increase_service_list %}checked=""{% endif %} value="{{increase_service.service.id}}" />
                              <label class="h6 mb-0" for="increase_services[]">{{increase_service.service}}</label>
                            </div>
                            {% endfor %}
                          </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="row mt-7 justify-content-between pb-6">
          <div class="col-5 col-md-4 mx-auto">
            <a href="{% url 'request_form_service_type' %}">
              <button class="full-purple-button" type="submit" name="previous"><span class="far fa-arrow-alt-circle-left"> </span>上一頁</button>
            </a>
          </div>
          <div class="col-5 col-md-4 mx-auto">
            <!-- <a href="{% url 'request_form_contact' %}"> -->
              <button class="full-purple-button" type="submit" name="next">下一頁 <span class="far fa-arrow-alt-circle-right" ></span></button>
            <!-- </a> -->
          </div>
        </div>
      </form>
      <script>
        
        let weight_change = document.getElementById('patient_weight')
        const over_70 = document.getElementById('increase_service_3')
        const over_90 = document.getElementById('increase_service_4')
        weight_change.addEventListener('input',function(){
          if(Number(weight_change.value) >= 70 && Number(weight_change.value) < 90 ){
            over_70.checked = true;
            over_90.checked = false;
            console.log(over_70.checked,1)
          }else if(Number(weight_change.value) >= 90){
            over_90.checked = true;
            over_70.checked = false;
            console.log(over_70.checked,2)
          }else if(Number(weight_change.value) < 70){
            over_90.checked = false;
            over_70.checked = false;
            calculate_rate.call();
          }
        })
      </script>
</main>
{% endblock %}