{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white h-100" id="top" >
      <h4 class="text-center pt-5 pb-2 section-title-purple">填寫需求單</h4>

      <div class="row text-center mt-3" style="font-weight: 600;">
        <div class="col-6 col-md-3" style="color: #BB6BD9;">
          ① 需求基本資料
        </div>
        <div class="col-6 col-md-3" style="color: #CCCCCC;">
          ② 被照顧者資訊
        </div>
        <div class="col-6 col-md-3" style="color: #CCCCCC;">
          ③ 聯絡人
        </div>
        <div class="col-6 col-md-3" style="color: #CCCCCC;">
          ④ 確認送出
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-11 ">
          <hr>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="row check_input ">
        <div class="col-11 mx-auto mt-3">
          
          <div class="mt-3 h6" style="display: flex;">
            <label class="h6" for="home_care"  name="care_type" style="padding-top: 2px; padding-right: 10px;">需求類型：</label>
            <label class="custom-radio-parent">居家照顧
              <input type="radio" checked="checked" id="care_home" name="care_type" {% if care_type == 'home' %} checked {% endif %} id="home_care" value="home"> 
              <span class="checkmark"></span>
            </label>
            <label class="custom-radio-parent">醫院看護
              <input type="radio" name="care_type" id="care_hospital" {% if care_type == 'hospital' %} checked {% endif %}  value="hospital">
              <span class="checkmark"></span>
            </label>           
          </div>

          <div style="display: flex;">
            <span class="h6 mt-2">照護地點：</span>
            
              <div class="btn-group">
                <select class="dropdown-button" id="city_select" name="city" onchange="listCities()" select>
                      
                  {% for city in citys %}
                    <option style="text-align: center" name="city_option" value="{{city.id}}" {% if city == cityName %} selected="selected" {% endif %}>{{city}}</option>
                    <!-- <option value="醫院看護">醫院看護</option> -->
                  {% endfor %}
                </select>
              </div>
              &emsp;
              <div class="btn-group">
                <select class="dropdown-button" id="county_select" name="county" >
                  <option style="text-align: center" value="全區">全區</option>
                  {% for county in counties %}
                    <option style="text-align: center" name="county_option" value="{{county.name}}" {% if county.name == countyName %} selected="selected" {% endif %}>{{county}}</option>
                  {% endfor %}
                </select>
              </div>
          </div>    
          <div id="hidden_input"></div>
          
          <div class="mt-2 h6" style="display: flex;">
            <p class="mt-2 h6">需求日期：</p>
            <input class="modal-timePicker-button datetimepicker " style="width: 200px;" id="start_end_date" name="start_end_date" type="text" value="{{start_end_date}}" placeholder="年-月-日 到 年-月-日" data-options='{"mode":"range","dateFormat":"y/m/d","disableMobile":true}' />
          </div>
          <div class=" h6" style="display: flex;">
            <label class="h6" for="time_type" style="padding-top: 2px; padding-right: 10px;">時間類型：</label>
            <label class="custom-radio-parent">連續時間
              <input type="radio" checked="checked" name="time_type" value="True" id="continuous_time" {% if is_continuous_time == True %}checked{% endif %} onchange="continuous_timeSelect()"> 
              <span class="checkmark"></span>
            </label>
            <label class="custom-radio-parent">指定時段
              <input type="radio" name="time_type" id="weekly_time" value="False" {% if is_continuous_time == False %}checked{% endif %} onchange="WeekdaySelect()">
              <span class="checkmark"></span>
            </label>           
          </div>
          <div id="time_type_select"></div>

          <div style="display: flex;">
            <span class="h6 mt-2">開始時間：</span>
            <input class="modal-timePicker-button datetimepicker " id="timepicker_startTime" name="timepicker_startTime" value="{{start_time}}" type="text" value="{{defaultStartTime}}" placeholder="時:分" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true,"time_24hr":true}' />
          </div>

          <div class="mt-2" style="display: flex;">
            <span class="h6 mt-2">結束時間：</span>
            <input class="modal-timePicker-button datetimepicker " id="timepicker_endTime" name="timepicker_endTime" value="{{end_time}}" type="text" value="{{defaultEndTime}}" placeholder="時:分" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true,"time_24hr":true}' />
          </div>
        </div>
      </div>

      <div class="row mt-7 justify-content-between">
        <div class="col-5 col-md-4 mx-auto">
          <a href="{% url 'index' %}">
            <button class="full-purple-button" >取消</button>
          </a>
        </div>
        <div class="col-5 col-md-4 mx-auto">
          <a href="{% url 'request_form_patient_info' %}">
            <button class="full-purple-button" id="submit_button">下一頁繼續 <span class="far fa-arrow-alt-circle-right" type="submit"></span></button>
          </a>
        </div>
      </div>
      </form>
      <style>
        input[type=checkbox], input[type=radio] {
          vertical-align: middle; 
          position: relative;
          bottom: .09em; /* this is a better value for different fonts! */
        }
      </style>
    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                      }
                  }
              }
              return cookieValue;
          }
          function listCities(){
            var cityid = $("[name='city']").val();
            $('#county_select').html('');
            $.ajax({
              type: "POST",
              data: {'city_id':cityid,
                      'action':'refresh_county'},
              headers: {'X-CSRFToken': csrftoken},
              url: "{% url 'ajax_refresh_county' %}",
              success: function(response)
              {
                const data = response.data
                console.log(data)
                // var resultObj = JSON.parse(response);
                var dataHandler = $("#county_select");
                var county_all = `<option style="text-align: center" value="全區">全區</option>`
                dataHandler.append(county_all);
                data.forEach(el =>
                {
                    var newRow = `<option style="text-align: center" value=${el.county}>${el.county}</option>`;
                    dataHandler.append(newRow);
                });

              }
            });
          }
      const csrftoken = getCookie('csrftoken');
      
      const weekday_select = document.getElementById('time_type_select');
      const select_continuous_time = document.getElementById('time_type_select');
      const submit_button = document.getElementById('submit_button');
      function continuous_timeSelect(){
        console.log('delete')
        select_continuous_time.innerHTML = ``
      }
      function WeekdaySelect(){
          weekday_select.innerHTML = ` 
                  <div class="h6" style="display: flex;">
                      <p class="h6">指定時段：</p>
                    <div class="weekdayCheck ">
                      <div class="form-check form-check-inline ">
                        <input class="form-check-input" id="1" name="weekdays[]" type="checkbox" value="1" {% if "1" in weekday_list %} checked="" {% endif %} />
                        <label class="h6" for="weekdays[]">星期一</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" id="2" name="weekdays[]" type="checkbox" value="2" {% if "2" in weekday_list %} checked="" {% endif %} />
                        <label class="h6" for="weekdays[]">星期二</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" id="3" name="weekdays[]" type="checkbox" value="3" {% if "3" in weekday_list %} checked="" {% endif %} />
                        <label class="h6" for="weekdays[]">星期三</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" id="4" name="weekdays[]" type="checkbox" value="4" {% if "4" in weekday_list %} checked="" {% endif %} />
                        <label class="h6" for="weekdays[]">星期四</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" id="5" name="weekdays[]" type="checkbox" value="5" {% if "5" in weekday_list %} checked="" {% endif %} />
                        <label class="h6" for="weekdays[]">星期五</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" id="6" name="weekdays[]" type="checkbox" value="6" {% if "6" in weekday_list %} checked="" {% endif %} />
                        <label class="h6" for="weekdays[]">星期六</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" id="0" name="weekdays[]" type="checkbox" value="0" {% if "0" in weekday_list %} checked="" {% endif %} />
                        <label class="h6" for="weekdays[]">星期日</label>
                      </div>
                    </div>
                  </div>
                    `
          document.querySelector('.weekdayCheck').addEventListener('change', event => {
            event.preventDefault();
            weekdays = []
            checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

            for (var i = 0; i < checkboxes.length; i++) {
              weekdays.push(checkboxes[i].value)
                };
                console.log(weekdays)
          })
          weekdays.forEach(e =>{
            var element = document.getElementById(e)
            element.checked = true;
            console.log(element)
          })
          
          }
          if (document.getElementById('weekly_time').checked){
            console.log('weekly_checked');
            WeekdaySelect.call();
          }
      const care_home = document.getElementById('care_home');
      const care_hospital = document.getElementById('care_hospital');
      const hidden_input = document.getElementById('hidden_input');
      const care_type = "{{care_type}}";
      const start_end_date = document.getElementById('start_end_date');
      const start_time = document.getElementById('timepicker_startTime');
      const end_time = document.getElementById('timepicker_endTime');
      const city_id = document.getElementById('city_select').value;
      $(document).ready(function() {
        submit_button.disabled = true;
        submit_access.call();
        care_home.addEventListener('click',function(){
          if(this.checked = true){
            console.log('1')
            hidden_input.innerHTML = ``;
            hidden_input.innerHTML += `<div class="mt-2" style="display: flex;">
          <label class="h6 mt-2" for="aboriginal">路名：</label>
          <input class="booking-input" style="width: 300px;" id="aboriginal" name="road_name" value="{{road_name}}" type="text" placeholder="" />
        </div> <div>※為確保您的隱私，此欄位只需填”路名”！請用聊聊告知接案服務者服務地址。</div> `
          }
        })
        care_hospital.addEventListener('click',function(){
           if(this.checked = true){
            console.log('2')
              hidden_input.innerHTML = ``;
              hidden_input.innerHTML += `<div class="mt-2" style="display: flex;">
            <label class="h6 mt-2" for="aboriginal">醫院名（機構名稱）及 注意事項：</label>
            <input class="booking-input" style="width: 300px;" id="aboriginal" name="hospital_name" value="{{hospital_name}}" type="text" placeholder="" />
          </div> <div>※為確保您的隱私，請勿在此處填寫病房號！請用聊聊告知接案服務者病床號。</div>`
            }
        })
        if(care_type == 'home'){
          care_home.click();
        }else{
          care_hospital.click();
        }
        document.querySelector(' .check_input ').addEventListener('change',function(){
        
          submit_access.call();
      })
      });
      function submit_access(){
        if ((care_type !== '') && (start_end_date.value !== '') && (start_time.value !== '') && (end_time.value !== '')){
          console.log('query');
          submit_button.disabled = false;
        }
      }
      
    </script>
</main>
{% endblock %}