{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->
  <div class="mb-3">
    <div class="col-lg-12 ps-lg-2 mb-3">
      <div class="card h-lg-100">
        <div class="card-header">
  
          <div class="mb-3">
            <a href="{% url 'all_cases' %}" class="custom-purple-btn btn-sm" role="button">所有案件</a>
            <a href="{% url 'all_cases' %}?state=unTaken"class="custom-purple-border-btn btn-sm" role="button">未承接</a>
            <a href="{% url 'all_cases' %}?state=unComplete" class="custom-purple-border-btn btn-sm" role="button">未完成</a>
            <a href="{% url 'all_cases' %}?state=Complete"class="custom-purple-border-btn btn-sm" role="button">已完成</a>
            <a href="{% url 'all_cases' %}?state=Canceled" class="custom-purple-border-btn btn-sm" role="button">取消</a>
            <a href="{% url 'all_cases' %}?state=endEarly"class="custom-purple-border-btn btn-sm" role="button">提早結束</a>
          </div>
                    
          <div id="tableExample2" data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
            <div class="table-responsive scrollbar">
              <table class="table  table-striped fs--1 mb-0">
                <div class="border border-1"></div>
                <thead>
                  <tr>
                    <th scope="col">案件狀態</th>
                    <th scope="col">建立日期</th>
                    <th scope="col">服務日期</th>
                    <th scope="col">服務者</th>
                    <th scope="col">案件地點</th>
                    <th scope="col">案件金額</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for case in cases %}
                  <tr>
                    <td >
                      <button type="button" class="custom-grey-border-btn btn-sm" disabled>{% if case.state == 'unTaken' %}未承接{% elif case.state == 'unComplete' %}未完成{% elif case.state == 'Complete' %}已完成{% elif case.state == 'Canceled' %}取消{% elif case.state == 'endEarly' %}提早結束{% endif %}</button>
                    </td>
                    <td>{{case.created_at.year}}/{{case.created_at.month}}/{{case.created_at.day}}</td>
                    <td>{{case.start_datetime.year}}/{{case.start_datetime.month}}/{{case.start_datetime.day}} ~ {{case.end_datetime.year}}/{{case.end_datetime.month}}/{{case.end_datetime.day}}</td>
                    <td>{% if case.servant == null %}[此用戶已刪除]{% else %}{{case.servant.name}}{% endif %}</td>
                    <td>{{case.city}}</td>
                    <td>{% for order in case.case_orders.all %}
                      {% if order.total_money %}
                      {{order.total_money}}
                      {% endif %}
                    {% endfor %}</td>
                    <td>                    
                      <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}?case={{case.id}}"?>查看</a>
                    </td>
                  </tr>
                  {% endfor %}
                  <!-- <tr>
                    <td >
                      <button type="button" class="custom-grey-border-btn btn-sm" disabled>未承接</button>
                    </td>
                    <td>2022/4/6</td>
                    <td>2022/5/1~2022/5/12</td>
                    <td>劉金發</td>
                    <td>桃園市楊梅區</td>
                    <td></td>
                    <td>                    
                      <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}">查看</a>
                    </td>
                  </tr>
                  <tr>
                    <td >
                      <button type="button" class="custom-grey-border-btn btn-sm" disabled>未承接</button>
                    </td>
                    <td>2022/4/6</td>
                    <td>2022/5/1~2022/5/12</td>
                    <td>劉金發</td>
                    <td>桃園市楊梅區</td>
                    <td>$12300</td>
                    <td>                    
                      <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}">查看</a>
                    </td>
                  </tr> -->
                  
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-center mt-3">
              {% for page_number in cases.adjusted_elided_pages %} 
                {% if page_number == cases.paginator.ELLIPSIS %} 
                  {{page_number}} 
                {% else %}
                  <a href="?page={{page_number}}" class="{% if page_number == cases.number %}current{% endif %}">&nbsp;&nbsp;{{page_number}}&nbsp;&nbsp;</a>
                {% endif %} 
              {% endfor %}
              <!-- <button class="btn btn-sm btn-chijia-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
              <ul class="pagination mb-0"></ul>
              <button class="btn btn-sm btn-chijia-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button> -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> 
        
{% endblock %}