{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->
<div class="mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    <div class="card h-lg-100">
      <div class="card-header">
        <div class="mb-3">
          <a href="{% url 'all_members' %}" class="custom-purple-btn btn-sm" role="button">所有會員({{members_num}}人)</a>
          <a href="{% url 'all_members' %}?member=needer"class="custom-purple-border-btn btn-sm" role="button">需求者({{needers_num}}人)</a>
          <a href="{% url 'all_members' %}?member=servant" class="custom-purple-border-btn btn-sm" role="button">服務者({{servants_num}}人)</a>
          <a href="{% url 'all_members' %}?member=apply_servant" class="custom-purple-border-btn btn-sm" role="button">審核中({{apply_servant_num}}人)</a>
        </div>
        <!-- <div class="h5 mb-3"><b>所有會員</b></div> -->
        <div class="border"></div>
        <div id="tableExample2" data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table  table-striped fs--1 mb-0">
              <thead>
                <tr>
                  <th scope="col">姓名</th>
                  <th scope="col">電話</th>
                  <th scope="col">是否申請成為服務者</th>
                  <th scope="col">是否審核通過為服務者</th>
                  <th class="text-end" scope="col">歷史訂單</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for user in users %}
                  <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.phone}}</td>
                    <td class="px-5">{% if user.is_apply_servant == True %}是{% else %}否{% endif %}</td>
                    <td class="px-5">{% if user.is_servant_passed == True %}是{% else %}否{% endif %}</td>
                    <td class="alnright">                    
                      <a class="custom-purple-btn text-white btn-sm" href="{% url 'member_detail'%}?user={{user.id}}">查看</a>
                    </td>
                  </tr>
                {% endfor %}
                <!-- <tr>
                  <td>王小明</td>
                  <td>0912345678</td>
                  <td class="alnright">                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'member_detail'%}">查看</a>
                  </td>
                </tr>
                <tr>
                  <td>王小明</td>
                  <td>0912345678</td>
                  <td class="alnright">                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'member_detail'%}">查看</a>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center mt-3">
            {% for page_number in users.adjusted_elided_pages %} 
              {% if page_number == users.paginator.ELLIPSIS %} 
                {{page_number}} 
              {% else %}
                <a href="?page={{page_number}}" class="{% if page_number == users.number %}current{% endif %}">&nbsp;&nbsp;{{page_number}}&nbsp;&nbsp;</a>
              {% endif %} 
            {% endfor %}
            <!-- <button class="btn btn-sm btn-chijia-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="pagination mb-0"></ul>
            <button class="btn btn-sm btn-chijia-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

{% endblock %}
