{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->
<div class="mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    <div class="card h-lg-100 mb-5">
      <div class="card-header">
        <div class="h5 mb-3"><b>案件明細</b></div>
        <div class="border"></div>
        <div class="d-flex mt-3">
          <div><a href="#" class="custom-purple-border-btn btn-sm" role="button">{% if case.state == 'unTaken' %}未承接{% elif case.state == 'unComplete' %}未完成{% elif case.state == 'Complete' %}已完成{% elif case.state == 'Canceled' %}取消{% elif case.state == 'endEarly' %}提早結束{% endif %}</a></div>
          <div class="mx-3">建立：{{case.created_at.year}}/{{case.created_at.month}}/{{case.created_at.day}}</div>
        </div>
        <div class="mt-4 mb-2"><b>案件資訊</b></div>
        <div>發案者：{% if case.user == null %}[此用戶已刪除]{% else %}{{case.user.name}}<br> 發案者電話：{{case.user.phone}}{% endif %}</div>
        <div>案件類型：{% if case.care_type == 'home' %}居家照顧{% else %}醫院看護{% endif %}</div>
        <div>案件地點：{{case.city}}</div>
        <div>案件時間：{% if case.is_continuous_time == True %}連續時間{% else %}指定時段{% endif %} {{case.start_datetime.year}}/{{case.start_datetime.month}}/{{case.start_datetime.day}} ({{case.startTimeformat}}) ~ {{case.end_datetime.year}}/{{case.end_datetime.month}}/{{case.end_datetime.day}} ({{case.endTimeformat}})</div>
        <div>案主收到的評價：{{review.case_offender_commentcase_offender_comment}}</div>
        <div class="mt-4 mb-2"><b>被照顧者資訊</b></div>
        <div>性別：{% if case.gender == 'M' %}男{% else %}女{% endif %}, 體重：{{case.weight}}, 年齡：{{case.age}}</div>
        <div>疾病：{% for casedisease in case.case_diseases.all %} {{casedisease.disease}} {% endfor %}</div>
        <div>身體狀況：{% for casebodycondition in case.case_body_conditions.all %} {{casebodycondition.body_condition}} {% endfor %}</div>
        <div>補充說明：</div>
        <div class="mt-4 mb-2"><b>需求服務項目</b></div>
        <div>{% for caseservice in case.case_services.all %} {{caseservice.service}} {% endfor %}</div>
        <div class="mt-4 mb-2"><b>服務者資訊</b></div>
        <div>服務者：{% if case.servant == null %}[此用戶已刪除]{% else %}{{case.servant.name}} <br>服務者電話：{{case.servant.phone}}{% endif %} </div>
        <div class="mb-3">服務者收到的評價：{% for review in case.case_reviews.all %}{{review.servant_comment}}{% endfor %}</div>
      </div>
    </div>

    <div class="card h-lg-100">
      <div class="card-header">
        <div class="h5 mb-3"><b>訂單明細</b></div>
        <div class="border"></div>

        <div class="d-flex mt-3 justify-content-between">
          <div>
            <a href="#" class="custom-purple-border-btn btn-sm" role="button">{% if case.state == 'unTaken' %}未承接{% elif case.state == 'unComplete' %}未完成{% elif case.state == 'Complete' %}已完成{% elif case.state == 'Canceled' %}取消{% elif case.state == 'endEarly' %}提早結束{% endif %}</a>
            <span class="mx-3">建立：{{case.created_at.year}}/{{case.created_at.month}}/{{case.created_at.day}} 服務者：{{case.servant.name}} </span>
          </div>
          <div>
            (已退款 ${{order.refund_money}})
            <a href="{% url 'refunds' %}?case={{case.id}}" class="custom-red-border-btn btn-sm" role="button">按我退款</a>
          </div>
        </div>

        <div class="h6 mt-4 mb-2">基本費用</div>
        <div class="row">
          <div class="col">${% if case.care_type == 'home' %}{{case.servant.home_hour_wage}}{% else %}{{case.servant.hospital_hour_wage}}{% endif %} x {{order.work_hours}} 小時</div>
          <div class="col alnright">${{order.base_money}}</div>
        </div>
        <div class="h6 mt-4 mb-2">加價項目</div>
        {% for order_increase_service in order_increase_services %}
        <div class="row">
          <div class="col">{{order_increase_service.service}} 每小時加 {{order_increase_service.increase_percent}}% x {{order.work_hours}} 小時 </div>
          <div class="col alnright">${{order_increase_service.increase_money}}</div>
        </div>
        {% endfor %}
        <!-- <div class="row">
          <div class="col">協助復健 $300 x 10 小時 </div>
          <div class="col alnright">$3,000</div>
        </div> -->
        <div class="border my-2"></div>
        <div class="row">
          <div class="col"><b>總計</b></div>
          <div class="col alnright text-danger"><b>${{order.total_money}}</b></div>
        </div>    
      </div>
    </div>
  </div>
</div> 

{% endblock %}