{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->
<div class="mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    <div class="card h-lg-100 mb-5">
      <div class="card-header">
        <div class="h5 mb-3"><b>案件明細</b></div>
        <div class="border"></div>
        <div class="d-flex mt-3">
          <div><a href="#" class="custom-purple-border-btn btn-sm" role="button">已承接</a></div>
          <div class="mx-3">建立：2022/4/8</div>
        </div>
        <div class="mt-4 mb-2"><b>案件資訊</b></div>
        <div>發案者：劉先生 0912333444</div>
        <div>案件類型：居家照顧</div>
        <div>案件地點：桃園市 楊梅區</div>
        <div>案件時間：連續時間 2022/04/18 晚上 8:00 ~ 2022/04/22 晚上 8:00</div>
        <div>案主收到的評價：評價內容 ooxx</div>
        <div class="mt-4 mb-2"><b>被照顧者資訊</b></div>
        <div>性別：男, 體重：70, 年齡：70</div>
        <div>疾病：阿茲海默症</div>
        <div>身體狀況：使用輔具</div>
        <div>補充說明：補充說明補充說明補充說明補充說明補充說明補充說明補充說明補充說明補充說明補充說明</div>
        <div class="mt-4 mb-2"><b>需求服務項目</b></div>
        <div>安全維護, 協助進食, 協助如廁, 陪同就醫, 代購物品, 簡易備餐, 身體清潔, 鼻胃管灌食</div>
        <div class="mt-4 mb-2"><b>服務者資訊</b></div>
        <div>服務者：林小梅 0922333455</div>
        <div class="mb-3">服務者收到的評價：評價xxxx</div>
      </div>
    </div>

    <div class="card h-lg-100">
      <div class="card-header">
        <div class="h5 mb-3"><b>訂單明細</b></div>
        <div class="border"></div>
        <div class="d-flex mt-3">
          <div><a href="#" class="custom-purple-border-btn btn-sm" role="button">已承接</a></div>
          <div class="mx-3">建立：2022/4/6 服務者：林小梅 金額：$15200</div>
        </div>
        <div class="h6 mt-4 mb-2">基本費用</div>
        <div class="row">
          <div class="col">$208 x 72 小時</div>
          <div class="col alnright">$14,976</div>
        </div>
        <div class="h6 mt-4 mb-2">加價項目</div>
        <div class="row">
          <div class="col">體重超過 70 公斤 每小時加 20% x 72 小時 </div>
          <div class="col alnright">$2,995</div>
        </div>
        <div class="row">
          <div class="col">協助復健 $300 x 10 小時 </div>
          <div class="col alnright">$3,000</div>
        </div>
        <div class="border my-2"></div>
        <div class="row">
          <div class="col"><b>總計</b></div>
          <div class="col alnright text-danger"><b>$23,000</b></div>
        </div>    
      </div>
    </div>
  </div>
</div> 

{% endblock %}