{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->
<div class="mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">

     <!-- 會員資訊 -->
    <div class="card h-lg-100 mb-5">
      <div class="card-header mb-2">

        <div class="h5 mb-3">
          <b>會員資訊</b>
        </div>
        <div class="border"></div>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="d-flex justify-content-between mt-3">
          <div>
            <span>姓名：{{user.name}}</span>
            <span class="mx-3">電話：{{user.phone}}</span>
            {% comment %} <input class="form-check-input" id="checkIsServantConfirm" name="checkIsServant" type="checkbox" value="True" {% if user.is_servant_passed == True %}checked{% endif %}/>
            <label class="" for="checkIsServantConfirm">審核通過為服務者</label> {% endcomment %}
          </div>
          <div>
            <button class="btn btn-success  btn-sm" type="submit" name="cancel" value='draft'>取消</button>
            <button class="btn purple-button btn-sm" type="submit" name="post" value='publish'>儲存修改</button>
          </div>
        </div>
        <div>
          <input class="form-check-input" id="checkIsServantConfirm" name="check_apply_servant" type="checkbox" value="True" {% if user.is_apply_servant == True %}checked{% endif %}/>
          <label class="" for="checkIsServantConfirm">提交審核中(如果要請會員重提交, 此處取消打勾)</label>
        </div>
        <div>
          <input class="form-check-input" id="checkIsServantConfirm" name="check_servant_passed" type="checkbox" value="True" {% if user.is_servant_passed == True %}checked{% endif %}/>
          <label class="" for="checkIsServantConfirm">審核通過為服務者 {% if check_user_store == False %}<span style="color:red">(藍新商店未開通)</span>{% endif %}</label>
          <button class="btn btn-primary btn-sm" type="button" onclick="location.href='{% url 'userstore_detail' %}?user={{user.id}}'">申請開通藍新商店</button>
        </div>
        
        {% for userLicenseImage in userLicenseImages %}
          <div class="mt-3 d-flex align-items-center">  
            {% if userLicenseImage.image.url != None %}
              <div>
                <img class="img-fluid rounded" src="{{userLicenseImage.image.url}}" alt="" width="300" />
              </div>
            {% else %}
            
            {% endif %}
            <div>
              <div>&emsp;{{userLicenseImage.license}}&emsp;</div>
              <div>
                <input class="form-check-input" id="checkIsServantConfirm" name="check{{userLicenseImage.license.id}}" type="checkbox" value="True" {% if userLicenseImage.isPassed == True %}checked{% endif %}/>
                <label class="" for="checkIsServantConfirm">審核通過</label>
              </div>
              <div>
                <button class="btn purple-button btn-sm" type="submit" name="delete{{userLicenseImage.license.id}}" >不通過刪除</button>
              </div>
            </div>
          </div>
          
        {% endfor %}
          <!-- <div class="mt-3 d-flex align-items-center">  
            <div>
              <img class="img-fluid rounded" src="{% static 'backboard/assets/img/samples/cat_horizontal.jpg' %}" alt="" width="300" />
            </div>
            <div>
              &emsp;身分證反面&emsp;
              <input class="form-check-input" id="checkIsServantConfirm" type="checkbox" value="" />
              <label class="" for="checkIsServantConfirm">審核通過</label>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div> 

{% endblock %}
