{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->
<div class="mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">

     <!-- 會員資訊 -->
     <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="card h-lg-100 mb-5">
        <div class="card-header">
          <div class="h5 mb-3 row">
            <div class="col-2">
              <b>會員資訊</b>
            </div>           
            <div class="col">
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                重設臨時密碼
              </button>   
            </div>
          </div>
          <div class="border"></div>
          <div class="d-flex justify-content-between mt-3">
            <div>
              <span>姓名：{{user.name}}</span>
              <span class="mx-3">電話：{{user.phone}}</span>
              {% if user.is_apply_servant %}
                <span>服務者 /需求者</span>
                {% if user.is_servant_passed == False %}
                  <span style="color: red;">（服務者尚未審核）</span> 
                {% elif user.is_servant_passed == True %}
                  <span style="color: red;">（服務者審核通過）</span> 
                {% endif %}
              {% else %} 
                <span>需求者</span>
              {% endif %}
            </div>    
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">重設臨時密碼</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> -->
                  </div>
                  <div class="modal-body">
                    確定重設密碼為 00000 ? 
                  </div>
                  <div class="modal-footer">
                    <button type="submit" name="reset_password" class="btn btn-warning">確定</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a class="custom-purple-btn text-white btn-sm" href="{% url 'member_data_review' %}?user={{user.id}}">資料審核</a>
            </div>
          </div>

        </div>
      </div>
     </form>

    <!-- 發案紀錄 -->
    <div class="card h-lg-100 mb-5">
      <div class="card-header">
        <div class="h5 mb-3"><b>發案紀錄</b></div>
        <div data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table table-striped fs--1 mb-0">
              <div class="border border-1"></div>
              <thead>
                <tr>
                  <th scope="col">發案日期</th>
                  <th scope="col">服務日期</th>
                  <th scope="col">案件狀態</th>
                  <th scope="col">接案日期</th>
                  <th scope="col">訂單金額</th>
                  <th scope="col">案件詳情</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for order in offend_orders %}
                  <tr>
                    <td>{{order.case.created_at.year}}/{{order.case.created_at.month}}/{{order.case.created_at.day}}</td>
                    <td>{{order.start_datetime.year}}/{{order.start_datetime.month}}/{{order.start_datetime.day}}~{{order.end_datetime.year}}/{{order.rnd_datetime.month}}/{{order.end_datetime.day}}</td>
                    <td>{% if order.case.state == 'unTaken' %}未承接{% elif order.case.state == 'unComplete' %}未完成{% elif order.case.state == 'Complete' %}已完成{% elif order.case.state == 'Canceled' %}取消{% elif order.case.state == 'endEarly' %}提早結束{% endif %}</td>
                    <td>{{order.case.taken_at.year}}/{{order.case.taken_at.month}}/{{order.case.taken_at.day}}</td>
                    <td>${{order.total_money}}</td>
                    <td>                    
                      <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}?case={{order.case.id}}">查看</a>
                    </td>
                  </tr>
                {% endfor %}       
              </tbody>
            </table>
          </div>
          <!-- <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-sm btn-chijia-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="pagination mb-0"></ul>
            <button class="btn btn-sm btn-chijia-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
          </div> -->
        </div>
      </div>   
    </div>

    <!-- 接案紀錄 -->
    <div class="card h-lg-100">
      <div class="card-header">
        <div class="h5 mb-3"><b>接案紀錄</b></div>
        <div data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table table-striped fs--1 mb-0">
              <div class="border border-1"></div>
              <thead>
                
                <tr>
                  <th scope="col">發案日期</th>
                  <th scope="col">服務日期</th>
                  <th scope="col">案件狀態</th>
                  <th scope="col">接案日期</th>
                  <th scope="col">訂單金額</th>
                  <th scope="col">案件詳情</th>
               </tr>
               
              </thead>
              <tbody class="list">
                {% for order in take_orders %}
                <tr>
                  <td>{{order.case.created_at.year}}/{{order.case.created_at.month}}/{{order.case.created_at.day}}</td>
                  <td>{{order.start_datetime.year}}/{{order.start_datetime.month}}/{{order.start_datetime.day}}~{{order.end_datetime.year}}/{{order.rnd_datetime.month}}/{{order.end_datetime.day}}</td>
                  <td>{% if order.case.state == 'unTaken' %}未承接{% elif order.case.state == 'unComplete' %}未完成{% elif order.case.state == 'Complete' %}已完成{% elif order.case.state == 'Canceled' %}取消{% elif order.case.state == 'endEarly' %}提早結束{% endif %}</td>
                  <td>{{order.case.taken_at.year}}/{{order.case.taken_at.month}}/{{order.case.taken_at.day}}</td>
                  <td>${{order.total_money}}</td>
                  <td>                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}?case={{order.case.id}}">查看</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-sm btn-chijia-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="pagination mb-0"></ul>
            <button class="btn btn-sm btn-chijia-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
          </div> -->
        </div>
      </div>   
    </div>

  </div>
</div> 

{% endblock %}
