{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->
<div class="mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">

     <!-- 會員資訊 -->
    <div class="card h-lg-100 mb-5">
      <div class="card-header">
        <div class="h5 mb-3">
          <b>會員資訊</b>
          
        </div>
        <div class="border"></div>
        <div class="d-flex justify-content-between mt-3">
          <div>
            <span>姓名：張曉明</span>
            <span class="mx-3">電話：0912345678</span>
            <span>服務者 / 需求者</span>
            <span style="color: red;">（服務者尚未審核）</span> 
          </div>
          <div>
            <a class="custom-purple-btn text-white btn-sm" href="{% url 'member_data_review' %}">資料審核</a>
          </div>
        </div>

      </div>
    </div>

    <!-- 發案紀錄 -->
    <div class="card h-lg-100 mb-5">
      <div class="card-header">
        <div class="h5 mb-3"><b>發案紀錄</b></div>
        <div data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table table-striped fs--1 mb-0">
              <div class="border border-1"></div>
              <thead>
                <tr>
                  <th scope="col">發案日期</th>
                  <th scope="col">服務日期</th>
                  <th scope="col">案件狀態</th>
                  <th scope="col">接案日期</th>
                  <th scope="col">訂單金額</th>
                  <th scope="col">案件詳情</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td>2022/4/6</td>
                  <td>2022/5/1~2022/5/12</td>
                  <td>已承接</td>
                  <td>2022/4/8</td>
                  <td>$15,200</td>
                  <td>                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}">查看</a>
                  </td>
                </tr>
                <tr>
                  <td>2022/4/6</td>
                  <td>2022/5/1~2022/5/12</td>
                  <td>已承接</td>
                  <td>2022/4/8</td>
                  <td>$15,200</td>
                  <td>                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}">查看</a>
                  </td>
                </tr>
                <tr>
                  <td>2022/4/6</td>
                  <td>2022/5/1~2022/5/12</td>
                  <td>已承接</td>
                  <td>2022/4/8</td>
                  <td>$15,200</td>
                  <td>                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}">查看</a>
                  </td>
                </tr>           
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-sm btn-chijia-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="pagination mb-0"></ul>
            <button class="btn btn-sm btn-chijia-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
          </div>
        </div>
      </div>   
    </div>

    <!-- 接案紀錄 -->
    <div class="card h-lg-100">
      <div class="card-header">
        <div class="h5 mb-3"><b>接案紀錄</b></div>
        <div data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table table-striped fs--1 mb-0">
              <div class="border border-1"></div>
              <thead>
                <tr>
                  <th scope="col">發案日期</th>
                  <th scope="col">服務日期</th>
                 <th scope="col">案件狀態</th>
                 <th scope="col">接案日期</th>
                 <th scope="col">訂單金額</th>
                 <th scope="col">案件詳情</th>
               </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td>2022/4/6</td>
                  <td>2022/5/1~2022/5/12</td>
                  <td>已承接</td>
                  <td>2022/4/8</td>
                  <td>$15,200</td>
                  <td>                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}">查看</a>
                  </td>
                </tr>
                <tr>
                  <td>2022/4/6</td>
                  <td>2022/5/1~2022/5/12</td>
                  <td>已承接</td>
                  <td>2022/4/8</td>
                  <td>$15,200</td>
                  <td>                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}">查看</a>
                  </td>
                </tr>
                <tr>
                  <td>2022/4/6</td>
                  <td>2022/5/1~2022/5/12</td>
                  <td>已承接</td>
                  <td>2022/4/8</td>
                  <td>$15,200</td>
                  <td>                    
                    <a class="custom-purple-btn text-white btn-sm" href="{% url 'case_detail' %}">查看</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-sm btn-chijia-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="pagination mb-0"></ul>
            <button class="btn btn-sm btn-chijia-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
          </div>
        </div>
      </div>   
    </div>

  </div>
</div> 

{% endblock %}
