{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >
  <h4 class="text-center pt-5 pb-2 section-title-purple">關於我們</h4>
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="my-5">
        <p>台灣已面臨高齡化社會，不僅僅是嚴峻且嚴肅的社會議題，更是直接體現在你我身上的沉重壓力。年老並不是問題，怎麼健康、快樂的變老才是你我真正要關心的。「Care168」平台以人為本，讓變老充滿深邃智慧，讓照護備感榮耀。我們提供公開透明的資訊服務平台，媒合照顧者與被照顧者的需求，讓您的需要在這裡總能找到。</p> 
        <p>家中有需要照顧的家人，如果您是照顧者，辛苦了。「Care168」平台正是為了你而存在，您不孤單。當您想休息、想喘息時，當您分身乏術時，這裡有一群專業且滿有熱誠的照護人員，可以為您提供短期看護服務，您可以放心將重要的家人暫時交給我們，一杯茶、一段旅行時間，都是為了可以走更長遠的路。</p>
        <p>我們尋找有照護熱忱的天使，你不只富有愛心，你更能在這裡擁有專業、享受助人與增加收入的成就。我們提供您各式職前或在職教育訓練，讓你的愛心不只是一股熱誠，您的專業與社會地位亦隨之提升，成全別人也成就自己。</p>
        <p>「Care168」由一群長照、護理、營養學等專業成員創立，我們深知照護需求對家庭的重要性與急迫性，而台灣的照護人力卻遠遠不及需求，因此我們憑藉各項專業立志打造全方位、全人照護平台。</p>
    </div>
    </div>
    <div class="col"></div>
  </div>
  
    
</main>
{% endblock %}