{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white py-5" id="top" >
  <div class="my-5 mx-auto px-4" style="max-width: 800px;">
    
    <div class="text-center mx-3">
      <h4 class="section-title-purple mt-5 mb-5">關於我們</h4>
    </div>

    <div class="mt-5">
      <h5>創辦理念</h5>
      <p><b>「Care168 照護一路幫」</b> 是一群具護理、營養學、照顧服務背景等成員創立，我們深知照護需求對家庭的重要性與急迫性，而台灣的照護人力卻遠遠不及需求，因此我們憑藉各項專業立志打造全方位的照護平台。</p>
      <img src="{% static 'web/assets/img/new/about1.png' %}" alt="" class="img-fluid">
    </div>

    <div class="mt-5">
      <h5>Care168-第三方預約照護平台</h5>
      <p>您可以依照被照顧者的狀況填寫需求單，也可以直接瀏覽服務者的相關資訊，快速的尋找可接案的服務者。我們希望透過Care168APP ，能讓找看護變得輕鬆又簡單！</p>
      <img src="{% static 'web/assets/img/new/about2.png' %}" alt="" class="img-fluid">
    </div>

    <div class="mt-5">        
      <p>「Care168」正是為了您的需求而存在，當您希望有人幫忙、需要喘息、或在您分身乏術時，這裡有一群專業且充滿熱誠的照護人員，可以為您提供短期的看護服務，您可以放心將重要的家人暫時交給我們的服務者，一杯咖啡、一段旅行，都是為了可以走更長遠的路。</p>
      <img src="{% static 'web/assets/img/new/about3.png' %}" alt="" class="img-fluid mx-auto d-block" style="max-width: 80%;">
    </div>

    <div class="mt-5">
      <h5>歡迎業界優秀的照顧服務員成為服務者</h5>
      <p>我們尋找有照護熱忱的天使，你不只富有愛心，你更能在這裡擁有專業、享受助人與增加收入的成就。</p>
      <img src="{% static 'web/assets/img/new/about4.png' %}" alt="" class="img-fluid ">
    </div>
    
    <div class="mt-5">
      <ul>
        <li>自由接案無排班壓力</li>
        <li>服務費用可彈性調整</li>
        <li>會員條款保障雙方權益</li>
        <li>第三方金流代收服務費用</li>
        <li>平台成交服務費最低4%</li>
      </ul>
    </div>
    

  </div>
   
</main>
{% endblock %}