{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white py-5" id="top" >
  <div class="text-center mb-5">
    <span class="section-title-purple">成為服務者流程圖</span>
    <div class="mx-2 mt-6">
      <img src="{% static 'web/assets/img/new/become_carer_steps_2.jpg' %}" alt="" class="img-fluid" style="width: 1080px;">
    </div>

    <div class="mt-5">
      <div class="news-title mb-3">
        下載 Care168
      </div>
      <a href="https://apps.apple.com/tw/app/care168/id1644036067" target="_blank">
        <img src="{% static 'web/assets/img/new/download_apple.png' %}" alt="" class="" style="max-width: 180px;" >
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.chijia.fluttercare168" target="_blank">
        <img src="{% static 'web/assets/img/new/download_google.png' %}" alt="" class="" style="max-width: 180px;">
      </a>
    </div>
  </div> 
</main>
{% endblock %}