{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >
  <h4 class="text-center pt-5 pb-2 section-title-purple">幫助中心</h4>
  <div class="accordion" id="accordionExample1">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">入會要收入會費嗎?</button>
      </h2>
      <div class="accordion-collapse collapse" id="collapse1" aria-labelledby="heading1" data-bs-parent="#accordionExample1">
        <div class="accordion-body">本平台免收入會費。您下單成功後所支付的費用內，已含有照顧服務費以及平台使用費</div>
      </div>
    </div>
    
</div>

<div class="accordion mt-3" id="accordionExample2">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">平台提供什麼服務?</button>
      </h2>
      <div class="accordion-collapse collapse" id="collapse2" aria-labelledby="heading2" data-bs-parent="#accordionExample2">
        <div class="accordion-body">本平台提供短期居家照顧: 居家陪伴、復健靜養、安全維護、衛生照顧。以及醫院照顧 :術後調養、急診等床、住院療養、檢查陪伴等服務。
            無論在醫院或居家均包含有「生活照顧」：身體清潔:洗澡擦澡 ，便溺處理。「清潔維護」：梳洗穿衣。用餐進食：服藥，餵餐。「關懷陪伴」心理支持。換位移位，翻身拍背。「安全維護」：推送輪椅，步行看顧等。
            若需「居家照顧」則可選擇: 簡易家事(僅限被照顧者所在臥室的簡單整理，不含洗浴室或客廳等大掃除)，簡單煮食(僅提供被照顧者及一位同住家屬的餐食，非專業廚師，恕不接受指定菜色，為維護安全也不提供外出代買)。
            另外也提供具有鼻胃管者，灌食的服務。</div>
      </div>
    </div>
    
</div>

<div class="accordion mt-3" id="accordionExample3">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading3">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">平台提供什麼服務?</button>
      </h2>
      <div class="accordion-collapse collapse" id="collapse3" aria-labelledby="heading3" data-bs-parent="#accordionExample3">
        <div class="accordion-body">本平台提供短期居家照顧: 居家陪伴、復健靜養、安全維護、衛生照顧。以及醫院照顧 :術後調養、急診等床、住院療養、檢查陪伴等服務。
            無論在醫院或居家均包含有「生活照顧」：身體清潔:洗澡擦澡 ，便溺處理。「清潔維護」：梳洗穿衣。用餐進食：服藥，餵餐。「關懷陪伴」心理支持。換位移位，翻身拍背。「安全維護」：推送輪椅，步行看顧等。
            若需「居家照顧」則可選擇: 簡易家事(僅限被照顧者所在臥室的簡單整理，不含洗浴室或客廳等大掃除)，簡單煮食(僅提供被照顧者及一位同住家屬的餐食，非專業廚師，恕不接受指定菜色，為維護安全也不提供外出代買)。
            另外也提供具有鼻胃管者，灌食的服務。</div>
      </div>
    </div>
    
</div>
  
    
</main>
{% endblock %}