{% extends 'web/base.html' %} {% block content %}
{% load static %}

<main class="main bg-white" id="top" >
      
  <!-- main content -->
  <section class="bg-frontpage-cover">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="bg-text container-fluid col-11 col-sm-10  col-md-7  col-xl-5 my-4 row" >
      
          <span  class="mt-4 mx-3" style="color: white; font-size:30px;"><strong>照護 168 | slogan slogan</strong></span> 
          
          <!-- form content -->
          
            <div class="card bg-white">
              
              <!-- 一個 button -->
              <button class="btn btn-success rounded-pill" type="cancel" onclick="call.call_backend()" id="pop_button"> 測試 javascript </button>
              <!-- 一個 文字欄位 -->
              <p id='string_column'> </p>

              <!-- care type segment -->
              <div class="mt-4  mb-3" style="margin: 0; display: flex;">

                <div class="segment__item">
                  <input type="radio" class="segment__input" name="care_type" id="care_type" value="居家照顧" checked>
                  <div class="segment__button" style="font-size: 18px; height: 50px; padding-top: 6px;">居家照顧</div>
                </div>
          
                <div class="segment__item">
                  <input type="radio" class="segment__input" name="care_type" id="care_type" value="醫院看護">
                  <div class="segment__button" style="font-size: 18px; height: 50px; padding-top: 6px;">醫院看護</div>
                </div>
                
              </div>

              <!-- 照護地點 -->
              <div class="row">
                <div class="col-12 col-sm-3 inner title-font">&emsp;照護地點</div>
                
                <div class="col-12 col-sm-3 mt-2" style="margin-right: 20px;">
                  <div class="btn-group" >
                    <button class="dropdown-button dropdown-toggle" type="submit" data-bs-toggle="dropdown" aria-expanded="false" name="city_id" value="{{dict.city.id}}">
                      {{dict.city}}
                    </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  name="city_id" value="{{dict.city.id}}">
                        {% for cityName in dict.citys %}
                          <a class="dropdown-item" href="{% url 'index' %}?city_id={{cityName.id}}"><span class="dropdown-item-font">{{cityName}}</span></a>
                        {% endfor %}
                      </div>
                  </div>
                </div>
                
                <!-- <div  class="col-1 inner" style="color: #BB6BD9;font-size:20px;">|</div> -->
    
                <div class="col-sm-3 mt-2">
                    <div class="btn-group">
                      <button class="dropdown-button dropdown-toggle" type="submit" data-bs-toggle="dropdown" aria-expanded="false" name="county_id" value="{{dict.county.id}}">
                        {{dict.county}}
                      </button>
                      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" type="submit" name="county_id" value="{{dict.county.id}}">
                        <a class="dropdown-item" href="{% url 'index' %}?city_id={{dict.city.id}}&county_id=全區"><span class="dropdown-item-font">全區</span></a>
                        {% for countyName in dict.counties %}
                          <a class="dropdown-item" href="{% url 'index' %}?city_id={{dict.city.id}}&county_id={{countyName.id}}"><span class="dropdown-item-font">{{countyName}}</span></a>
                        {% endfor %}
                      </div>
                    </div>
                </div>

              </div>

              <hr size="4" class="mx-2" style="color: #BB6BD9;"/>

              <!-- 時間類型 -->
              <div class="row justify-content-start">
                <div class="col-12 col-sm-3  inner title-font" >&emsp;時間類型</div>
                <div class="col-12 col-sm-4">
                  <label class="custom-radio-parent align-self-center" style="margin: 0px;">連續時間
                    <input type="radio" checked="checked" name="is_continuous_time" id="is_continuous_time" value=True>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-12 col-sm-4">
                  <label class="custom-radio-parent align-self-center" style="margin: 0px;">每週時段預定
                    <input type="radio" name="is_continuous_time" id="is_continuous_time" value=False >
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <hr size="4" class="mx-2" style="color: #BB6BD9;"/>
                  
              <!-- 開始時間 -->
              <div class="row">
                <div class="col-12 col-sm-3 inner title-font">&emsp;開始時間</div>
                <div class="col-12 col-sm-5" >
                  <input class="timePicker-noBorder-button datetimepicker" style="width: 150px;" id="datetimepicker_start" name="datetimepicker_start" type="text" placeholder="年/月/日 時:分" data-options='{"enableTime":true,"dateFormat":"y/m/d H:i","disableMobile":true}' />         
                </div> 
              </div>
              
              <hr size="4" class="mx-2" style="color: #BB6BD9;"/>
                  
              <!-- 結束時間 -->
              <div class="row">
                <div class="col-12 col-sm-3 title-font inner">&emsp;結束時間</div>
                <div class="col-12 col-sm-5" >
                  <input class="timePicker-noBorder-button datetimepicker" style="width: 150px;" id="datetimepicker_end" name="datetimepicker_end" type="text" placeholder="年/月/日 時:分" data-options='{"enableTime":true,"dateFormat":"y/m/d H:i","disableMobile":true}' />         
                </div>
              </div>

              <br>  
              
            </div>
            
            <!-- <a href="{% url 'search_list' %}?city_id={{dict.city.id}}&county_id={{dict.county.id}}&care_type={{dict.care_type}}&is_continuous_time={{dict.is_continuous_time}}&start_date={{dict.start_date}}&end_date={{dict.end_date}}"> -->
            <!-- <button class="mt-4 full-purple-button" type="submit">搜尋</button> -->
            <!-- </a> -->
            <button class="mt-4 full-purple-button" type="submit" name="submit"  onclick="location.href='{% url 'search_carer_detail' %}?city_id={{dict.city.id}}&county_id={{dict.county}}&care_type={{dict.care_type}}&is_continuous_time={{dict.is_continuous_time}}&start_datetime={{dict.start_date}}&end_datetime={{dict.end_date}}'">
              搜尋
            </button>
          
          
    </div>  
    </form>
  </section>
       
</main>
<script>
  var call = {
    call_backend: function(){
      var data = {
        a: 'data to back end'
      }
   
      $.ajax({
        url: "{% url 'ajax_call_backend' %}",
        data: data,
        type: "GET",
   
        success: function () {
        $('#pop_button').html(data)
      }
    });
    }
  }
 </script>
 

{% endblock %}