{% extends 'web/base.html' %} {% block content %}
{% load static %}
<main class="main" id="top" >
  <div class="container-fluid">
    <div class="row min-vh-100 bg-100">

      <!-- bg image -->
      <div class="col-6 d-none d-lg-block position-relative">
        <div class="bg-holder bg-login-cover"></div>
      </div>

      <!-- card form -->
      <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row justify-content-center g-0">

              <div class="col-lg-9 col-xl-8 col-xxl-6">

                <div class="card">
                  <!-- card header -->
                  <div class="text-center p-2" style="background-color: #BB6BD9;">
                    <span class="fw-bolder fs-4 z-index-1 position-relative text-white">Care 168</span>
                  </div>

                  <!-- card-body -->
                  <div class="card-body p-4">
                    
                    <!-- Line登入 -->
                    <div class="row flex-between-center">
                      
                      <div class="col-auto">
                        <h5>使用 LINE 登入</h5>
                      </div>

                      <div class="mt-2">
                        <!-- <a href="{% url 'register_line' %}?next={{next}}"> -->
                          <button class="line-login-button my-2" type="submit" name="line_login"  >
                            <span class="mt-2"><span class="fab fa-line"></span> 透過 LINE 繼續</span>
                          </button>
                        </a>
                      </div>
                      
                    </div>

                    <!-- 分隔線 -->
                    <div class="position-relative mt-4">
                      <hr class="bg-300" />
                      <div class="divider-content-center">或</div>
                    </div>

                    <!-- 會員帳號登入 -->
                    
                      <div>
                        <h5 class="mt-4 mb-3 col-lg-8">Care 168 會員帳號登入</h5>

                        

                          <div class="input-box mb-3">
                            <span class="material-icons md-18">phone_iphone</span>
                            <input type="tel" name="phone" placeholder="電話號碼" />
                          </div>

                          <div class="input-box mb-3">
                            <span class="material-icons md-18">lock</span>
                            <input type="password" name="password" placeholder="密碼" />
                          </div>
    
                          <div class="row flex-between-center">
                            <div class="col-auto">
                            </div>
                            <div class="col-auto">
                              <a class="fs--1 text-dark" href="#">忘記密碼?</a>
                            </div>
                          </div>
    
                          <a href="">
                            <button class="full-purple-button mt-3" type="submit" name="login">
                              <span class="mt-2">登入</span>
                            </button>
                          </a>
            
                        

                        <div class="flex-center inner col-lg-8 mx-auto mt-4" style="font-weight:400;font-size:16px">
                          <h6>還沒加入 Care 168 嗎？</h6>
                        </div>

                        <div class="flex-center inner col-lg-8 mx-auto" style="font-weight:400;font-size:16px">
                          <a href="{% url 'register_phone' %}" ><h6 style="color: #BB6BD9;">立刻註冊</h6></a>
                        </div>


                      </div>
                    
                 </div>

                </div>
              </div>
            </div>  
        </form>
      </div>

    </div>
  </div>
</main>

{% endblock %}
  