{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >

      <h4 class="text-center pt-5 pb-2 section-title-purple">Care 168 最新資訊</h4>
      <!-- 導覽目錄 -->
      <nav class="navbar navbar-expand-lg  navbar-light">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLightExample" aria-controls="navbarLightExample" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            

            <div class="collapse navbar-collapse" id="navbarLightExample">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">   
                <!-- <li class="nav-item px-3">
                  <a class="nav-link h5" href="#post-all">最新文章</a>
                </li> -->
                <li class="nav-item px-3">
                  <a class="nav-link h5" href="{% url 'news' %}" >全部</a>
                </li>
                {% for category in categories %}
                  <li class="nav-item px-3">
                    <a class="nav-link h5" href="{% url 'news' %}?category_id={{category.id}}">{{category.name}}</a>
                  </li>
                {% endfor %}
                {% comment %} <li class="nav-item px-3">
                  <a class="nav-link h5" href="#post-all" id="home-tab" data-bs-toggle="tab" role="tab" aria-controls="tab-home" aria-selected="true">全部</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link h5" href="#post-1" id="category-1-tab" data-bs-toggle="tab" role="tab" aria-controls="tab-1" aria-selected="false">居家照顧</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link h5" href="#post-2" id="category-2-tab" data-bs-toggle="tab" role="tab" aria-controls="tab-2" aria-selected="false">接案資訊</a>
                </li> {% endcomment %}
                <!-- <li class="nav-item px-3">
                  <a class="nav-link h5" href="#">其他分類</a>
                </li> -->
              </ul>
            </div>
          </div>
      </nav>
      <!-- 文章列表 -->
      <div class="content row ">
        <div class="tab-pane fade show active" id="post-all" role="tabpanel" aria-labelledby="home-tab">
          {% for blogpost in blogposts %}
          <div class="col-lg-8 col-11 my-3 mx-auto" >
              <div class="mx-auto" style="border: 1.5px solid #CCADE9;border-radius: 6px;">
                <!-- 文章連結 -->
                <a class="custom-card-link" href="{% url 'news_detail' %}?blogpost={{blogpost.id}}">
                  
                  <div class="p-4 row align-items-center" >

                  <div class=" col-xl-3 col-md-4 col-5">
                    <div class="mx-auto" >
                      {% if blogpost.cover_image.url != None %}
                        <img src="{{ blogpost.cover_image.url }}" style="width:200px;" class="img-fluid rounded">
                      {% else %}
                        <img src="{% static 'web/assets/img/new/Rectangle78.png' %}" style="width:200px;" class="img-fluid rounded">
                      {% endif %}
                      </div>
                  </div>

                  <div class=" col-7 col-md-8 col-xl-9">
                    <div class="row  justify-content-between">

                      <div class="col align-item-center">
                        <p class="news-date">{{blogpost.create_date.year}}/{{blogpost.create_date.month}}/{{blogpost.create_date.day}}</p>
                      </div>

                      <div class="col-auto align-item-center">
                        <button class="purple-border-tag">閱讀文章</button>
                      </div>

                    </div>
                    <p class="news-title">{{blogpost.title}}</p>
                    {% comment %} <p class="news-content">{{blogpost.body}}</p> {% endcomment %}
                  </div>
                  
                  </div>
  
                </a>
              
              </div>            
          </div>
          {% endfor %}
        </div>
      </div>
</main>
{% endblock %}

    