{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >

  <!-- 篩選  -->
  <div class="row">
    <div class="col mx-5 mt-4">
      <div class="accordion" id="accordionExample">
            
        <button class="custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
          <span class="fas fa-plus-circle"></span> 展開篩選條件
        </button>
            
        <div class="accordion-collapse collapse" id="collapse1" aria-labelledby="heading1" data-bs-parent="#accordionExample">
          <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="accordion-collapse collapse" id="collapse1" aria-labelledby="heading1" data-bs-parent="#accordionExample">
            
              <div class="row mx-3">
                <!-- col-md-10 col-lg-8 col-xl-5 row mt-3  -->
                <div class="row col-11 mt-3">
                  
                  <!-- 照護類型 -->
                  <div class="col-sm-4 col-md-3 col-lg-2 my-3">
                    <h5 class="mb-2">照護類型</h5>
                    <div class="dropdown font-sans-serif d-inline-block mb-2">
                      <select class="dropdown-button" id="care_type" name="care_type">
                        <option style="text-align: center" value="home" {% if care_type == "home" %} selected="selected" {% endif %}>居家照顧</option>
                        <option style="text-align: center" value="hospital" {% if care_type == "hospital"  %} selected="selected" {% endif %}>醫院看護</option>
                      </select>
                    </div>
                  </div>
              
                  <!-- 照護地點 -->
                  <div class="col-sm-4 col-md-3 col-lg-2 my-3">
                    <h5 class=" mb-2">照護地點</h5>
                    <div class=" btn-group mb-2">
                      <select class="dropdown-button" id="city_select" name="city" onchange="listCities()" select>
                        {% for city in citys %}
                        <option style="text-align: center" name="city_option" value="{{city.id}}" {% if city == cityName %} selected="selected" {% endif %}>{{city}}</option>
                        <!-- <option value="醫院看護">醫院看護</option> -->
                        {% endfor %}
                      </select>
                    </div>
                  
                  </div>
              
                  <!-- 排序 -->
                  <div class="col-sm-3 my-3">
                    <h5 class="mb-2">排序</h5>
                    <div class="btn-group mb-2">
                      <button class="dropdown-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">自然推薦</button>
                      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#!"><span class="dropdown-item-font">台北市</span></a>
                        <a class="dropdown-item" href="#!"><span class="dropdown-item-font">桃園市</span></a>
                      </div>
                    </div>
                  </div>
          
                </div>
                <!-- 篩選button -->
                <button class="col-xl-4 col-md-6 mt-4 mx-auto full-purple-button" type="submit" name="submit" >
                  搜尋
                </button>
                <hr class="mt-2">
              </div>
            </div>
          </form>
        </div>
            
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mx-5 my-3">
      <h5 >照服員推薦</h5>
    </div>
  </div>

  <!-- 搜尋結果 -->
  <div class="row g-3 mx-5 pb-5" >
    {% for servant in servants %}
      <div class="col-sm-10 col-sm-mx-1 col-md-6 col-lg-4 col-xl-3 col-xl-mx-5 " >
        <div class="border border-600" style="border-radius: 6px;" >
          <a class="custom-card-link" href="{% url 'search_carer_detail' %}?servant={{servant.id}}">
            {% if servant.background_image.url != None %}
              <img class="card-img-top" style="height: 120px;  object-fit: cover;" src="{{servant.background_image.url}}" alt="照顧者背景圖">
            {% else %}
              <img class="card-img-top" style="height: 120px;  object-fit: cover;" src="{% static 'web/assets/img/new/cat_horizontal.jpg' %}" alt="照顧者背景圖"> 
            {% endif %}
            <div class="card-body" >
              <div class="d-flex">
                <div class="avatar avatar-xl" style="margin-right: 5px;">
                  {% if servant.image.url != None %}
                    <img class="rounded-circle"  src="{{servant.image.url}}" alt="照顧者大頭照">
                  {% else %}
                    <img class="rounded-circle" src="{% static 'web/assets/img/new/cat_horizontal.jpg' %}" alt="" >  
                  {% endif %}
                </div>
                  <span class="carer-name" style="margin-right: 5px;">{{servant.name|slice:"0:1"}}{% if servant.gender == 'M' %}先生{% else %}小姐{% endif %}</span >
                    {% for i in servant.servant_avg_rate_range %}
                      <span class="fas fa-star"  style="color: yellow; margin-top: 4px;"></span>
                    {% endfor %}
                    {% if servant.servant_avg_rating_is_half_star == True %}
                      <span class="fas fa-star-half-alt" style="color: yellow; margin-top: 4px;"></span>
                    {% endif %}
                    {% for i in servant.servant_avg_rating_empty_star_range %}
                      <i class="fa-regular fa-star" style="color: yellow; margin-top: 4px;"></i>  
                    {% endfor %}

                  <span class="carer-review-number" style="margin-left:5px; margin-top: 4px;">評價{{servant.servant_rate_nums}}</span>
              </div>

              <div class="mt-2">
                {% if servant.is_home == True %}
                  <span class="purple-border-tag">居家照顧</span>
                {% endif %}
                {% if servant.is_hospital == True %}
                  <span class="purple-border-tag">醫院看護</span>
                {% endif %}
              </div>
    
              <div class="mt-3">
                {% if servant.is_hospital == True %}
                  {% if care_type == 'home' %}
                    <p class="h6 text-800">時薪 ${{servant.home_hour_wage}} | 半天 ${{servant.home_half_day_wage}} | 一天 ${{servant.home_one_day_wage}}</p>
                  {% else %}
                    <p class="h6 text-800">時薪 ${{servant.hospital_hour_wage}} | 半天 ${{servant.hospital_half_day_wage}} | 一天 ${{servant.hospital_one_day_wage}}</p>
                  {% endif %}
                {% elif servant.is_home == True %}
                  {% if care_type == 'hospital' %}
                    <p class="h6 text-800">時薪 ${{servant.hospital_hour_wage}} | 半天 ${{servant.hospital_half_day_wage}} | 一天 ${{servant.hospital_one_day_wage}}</p>
                  {% else %}
                    <p class="h6 text-800">時薪 ${{servant.home_hour_wage}} | 半天 ${{servant.home_half_day_wage}} | 一天 ${{servant.home_one_day_wage}}</p>
                  {% endif %}
                {% endif %}

                <p class="h6 text-800">服務地區：</p>
                <p class="h6 text-800">
                  {% for location in servant.user_locations.all %}
                   {{location.city}}
                  {% endfor %}</p>
              </div>
                      
            </div>
          </a>   
        </div>
      </div>
    {% endfor %}
  </div>

  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                    }
                }
            }
            return cookieValue;
        }
    const csrftoken = getCookie('csrftoken');
  </script>
     
</main>
{% endblock %}