{% extends 'web/base.html' %} {% block content %}
{% load static %}

<!-- main -->
<main class="main" id="top" >
  <div class="container-fluid">
    <div class="row min-vh-100 bg-100">

      <!-- bg image -->
      <div class="col-6 d-none d-lg-block position-relative">
        <div class="bg-holder bg-login-cover"></div>
      </div>

      <!-- card form -->
      <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
            
            <div class="row justify-content-center g-0">

              <div class="col-lg-9 col-xl-8 col-xxl-6">

                <div class="card">
                  <!-- card header -->
                  <div class="text-center p-2" style="background-color: #BB6BD9;">
                    <span class="fw-bolder fs-4 z-index-1 position-relative text-white">Care 168</span>
                  </div>

                  <!-- card-body -->
                  <div class="card-body p-4">

                    <!-- 會員帳號登入 -->
                    <div>
                      <h5 class="mt-2 mb-3 col-lg-8">LINE 註冊</h5>

                      
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                          <div class="input-box mb-3">
                            <span class="material-icons">person_outline</span>
                            <input type="text" name="userName" placeholder="使用者姓名" />
                          </div>

                          <div class="input-box mb-3">
                            <span class="material-icons md-18">phone_iphone</span>
                            <input type="tel" name="phone" placeholder="電話號碼" />
                          </div>

                          <button class="full-purple-button mt-3" type="submit" >                
                            <span class="mt-2">註冊</span>
                          </button>   
                        </form>
                      

                      

                    </div>

                 </div>

                </div>

              </div>

            </div>  

      </div>

    </div>
  </div>
</main>

{% endblock %}
  
