{% extends 'web/base.html' %} {% block content %}
{% load static %}

<!-- main -->
<main class="main" id="top" >
  <div class="container-fluid">
    <div class="row min-vh-100 bg-100">

      <!-- bg image -->
      <div class="col-6 d-none d-lg-block position-relative">
        <div class="bg-holder bg-login-cover"></div>
      </div>

      <!-- card form -->
      <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
            
            <div class="row justify-content-center g-0">

              <div class="col-lg-9 col-xl-8 col-xxl-6">

                <div class="card">
                  <!-- card header -->
                  <div class="text-center p-2" style="background-color: #BB6BD9;">
                    <span class="fw-bolder fs-4 z-index-1 position-relative text-white">Care 168</span>
                  </div>

                  <!-- card-body -->
                  <div class="card-body p-4">

                    <!-- 會員帳號登入 -->
                    <div>
                      <h5 class="mt-2 mb-3 col-lg-8">LINE 註冊</h5>

                      
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="input-box mb-3">
                          <span class="material-icons">person_outline</span>
                          <input type="text" name="userName" placeholder="使用者姓名" />
                        </div>

                        <div class="input-box mb-3">
                          <span class="material-icons md-18">phone_iphone</span>
                          <input type="tel" name="phone" placeholder="電話號碼" />
                        </div>

                        <button class="full-purple-button mt-3" type="submit" >
                        <!-- <button class="full-purple-button mt-3" onclick="handleLineLoginButtonClick()"> -->
                          
                          <span class="mt-2">註冊</span>
                        </button>   
                        </form>
                      

                      

                    </div>

                 </div>

                </div>

              </div>

            </div>  

      </div>

    </div>
  </div>
  <script>
    function handleLineLoginButtonClick() {
      
      let URL = 'https://access.line.me/oauth2/v2.1/authorize?';
      URL += 'response_type=code';
      
      //channel id
      URL += '&client_id=1657316694'; 

      // 與Line Developer Channel設定的一樣就好，驗證完就會經過瀏覽器轉址回來
      URL += '&redirect_uri=http://127.0.0.1:8000/';

      // 狀態碼是會從client呼叫端帶到驗證端，再從驗證端帶回
      // 因此應該可以作為一個亂數卡控確保是自   已丟出去的交易碼
      URL += '&state=abcde';   
     
      //要求存取的範圍
      URL += '&scope=openid%20profile';
      console.log(URL)
      window.location.href = URL;
    }
  </script>
</main>

{% endblock %}
  
