{% extends 'web/base.html' %} {% block content %}
{% load static %}

<!-- main -->
<main class="main" id="top" >
  <div class="container-fluid">
    <div class="row min-vh-100 bg-100">

      <!-- bg image -->
      <div class="col-6 d-none d-lg-block position-relative">
        <div class="bg-holder bg-login-cover"></div>
      </div>

      <!-- card form -->
      <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
            <div class="row justify-content-center g-0">
              <div class="col-lg-9 col-xl-8 col-xxl-6">
                <div class="card">
                  <!-- card header -->
                  <div class="text-center p-2" style="background-color: #BB6BD9;">
                    <span class="fw-bolder fs-4 z-index-1 position-relative text-white">Care 168 電話註冊</span>
                  </div>

                  <!-- card-body -->
                  <div class="card-body p-4">
                    
                    <p name="error_span" id="error_span"></p>

                    <div>
                        <div class="input-box mb-3">
                          <span class="material-icons md-18">phone_iphone</span>
                          <input type="tel" name="phone" id="phone_field" placeholder="電話號碼" />
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                          <button class="small-purple-button mb-3" onclick="send_sms_code()">
                            <span>寄送驗證碼</span>
                          </button>
                        </div>

                        <div class="input-box mb-3">
                          <span class="material-icons md-18">lock</span>
                          <input type="password" name="password" id="code_field" placeholder="請輸入驗證碼" />
                        </div>
  
                        <button class="full-purple-button mt-3" onclick="check_sms_code()" >
                          <span class="mt-2">驗證</span>
                        </button>   
                    </div>
                 </div>
                </div>
              </div>
            </div>  
      </div>

    </div>
  </div>
</main>

<script>
  function send_sms_code(){
    var error_span = document.getElementById('error_span');
    console.log(error_span.innerHTML)
    var phone = document.getElementById('phone_field').value;
    console.log(phone)
    $.ajax({
      type: "GET",
      data: {'phone':phone},
      url: "{% url 'ajax_send_sms_verify_code' %}",
      success: function(response)
      {
        const message = response.message
        console.log(message)
        error_span.innerHTML = message
      }
    });
  }

  function check_sms_code(){
    var error_span = document.getElementById('error_span');
    console.log(error_span.innerHTML)
    var phone = document.getElementById('phone_field').value;
    var code = document.getElementById('code_field').value;
    console.log(phone)
    $.ajax({
      type: "GET",
      data: {'phone':phone, 'code':code},
      url: "{% url 'ajax_check_sms_code' %}",
      success: function(response)
      {
        const message = response.message
        console.log(message)
        if(message=="success"){
          window.location.href = "/web/register_phone?phone="+phone;
        }else{
          error_span.innerHTML = message
        }
      }
    });
  }

</script>

{% endblock %}
