{% extends 'web/base.html' %} {% block content %}
{% load static %}

<!-- main -->
<main class="main bg-white" id="top" >
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="container pt-5">
        
        <div class="alert alert-danger text-center" role="alert">委託人尚未找到服務者</div>

        <div class="row">
          
          <div class="col-12 col-md-6 ">

              <!-- <span class="green-border-tag">尚未找到服務者</span> -->

                <p class="small-section-title-purple mt-2">委託人</p>
                <div class="container" style="display: flex; padding-left: 0;" >
                  
                    <div class="avatar avatar-3xl" >
                      <img class="rounded-circle" src="{% static 'web/assets/img/new/cat_horizontal.jpg' %}" alt="" />
                    </div>

                    <div class="mx-3">
                      <span class="h5">{{case.user.name|slice:"0:1"}}{% if case.user.gender == 'M' %}先生{% else %}小姐{% endif %}</span>
                      <div>
                        {% for i in case.user.needer_avg_rate_range %}
                          <span class="fas fa-star" style="color: yellow;"></span>
                        {% endfor %}
                        {% if case.user.needer_avg_rating_is_half_star == True %}
                          <span class="fas fa-star-half-alt" style="color: yellow;"></span>
                        {% endif %}
                        {% for i in case.user.needer_avg_rating_empty_star_range %}
                          <i class="fa-regular fa-star" style="color: yellow;"></i>  
                        {% endfor %}
                      <!-- <span class="fas fa-star" style="color: yellow;"></span>
                      <span class="fas fa-star" style="color: yellow;"></span>
                      <span class="fas fa-star" style="color: yellow;"></span>
                      <span class="fas fa-star" style="color: yellow;"></span> -->
                      <span class="h6">評價{{case.user.needer_rate_nums}}</span>
                      </div>
                    </div>

                </div>

                <p class="small-section-title-purple mt-3">被照顧者資訊</p>
                <div class="case-info-font">
                  <p>性別：{{case.gender}}</p>
                  <p>體重：{{case.weight}}</p>
                  <p>年齡：{{case.age}}</p>
                  <p>疾病：{% for casedisease in case.case_diseases.all %} {{casedisease.disease}} {% endfor %}</p>
                  <p>補充說明：{{case.disease_remark}}</p>
                  <p>身體狀況：{% for casebodycondition in case.case_body_conditions.all %} {{casebodycondition.body_condition}} {% endfor %}</p>
                  <p class="text-indent-5">補充說明：{{case.conditions_remark}}</p>
                </div>

                <p class="small-section-title-purple mt-5">需求服務項目</p>
                <div class="case-info-font mb-5">
                  {% for caseservice in case.case_services.all %}
                  <p>
                    <span class="fas fa-check-circle fs-1" style="color: 55D9A0;"></span>
                    {{caseservice.service}}
                  </p>
                  {% endfor %}
                 
                </div>

          </div>

          <div class="col-12 col-md-6 ">
            <p class="small-section-title-purple mt-2">案件資訊</p>
            <div class="case-info-font">
                  <p>照顧類型：<span style="color: #BB6BD9;">{% if case.care_type == 'home' %}居家照顧{% else %}醫院看護{% endif %}</span></p>
                  <p>地點：{{case.city}} </p>
                  <p class="text-indent-3">時間：<span style="color: red;">{% if case.is_continuous_time == True %}連續時間{% else %} 指定時段{% endif %}</span><br>
                    {{case.start_datetime.year}}/{{case.start_datetime.month}}/{{case.start_datetime.day}} ~ {{case.end_datetime.year}}/{{case.end_datetime.month}}/{{case.end_datetime.day}}<br>
                    {{weekday_str}}<br>
                    {{case.startTimeformat}} ~ {{endTimeformat}} 
                  </p>
            </div>
            <button class="full-purple-button mt-3 mb-5" type="submit">我可以接案</button>
            {% if alert_flag %}
                <script>alert("無法發訂單給自己!")</script>  
            {% endif %}
          </div>

        </div>
      </div>
    </form>
</main>
{% endblock %}