{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >

  <div class="container pt-5">
    <div class="row">
          
          <div class="col-12 col-md-7 col-lg-8 mb-5 ">

            <div>
              {% if dict.servant.background_image.url != None %}
                <img class="card-img-top" style="height: 120px;  object-fit: cover;" src="{{dict.servant.background_image.url}}" alt="照顧者背景圖">
              {% else %}
                <img class="card-img-top" style="height: 120px;  object-fit: cover;" src="{% static 'web/assets/img/new/cat_horizontal.jpg' %}" alt="照顧者背景圖"> 
              {% endif %}
            </div>

            <div class="container mt-4" style="display: flex; padding-left: 0;" >
                  
              <div class="avatar avatar-4xl" >
                {% if dict.servant.image.url != None %}
                  <img class="rounded-circle" src="{{dict.servant.image.url}}" alt="" > 
                {% else %}
                  <img class="rounded-circle" src="{% static 'web/assets/img/new/cat_horizontal.jpg' %}" alt="" >
                {% endif %}
              </div>

              <div class="mx-3 align-self-center">
                <span class="h5">{{dict.servant.name}}</span>
                  <div class="mt-2">
                    {% for care_type in dict.care_type %}
                    <span class="purple-border-tag">{{care_type}}</span>
                    {% endfor %}
                  </div>
              </div>

            </div>

            <div class="case-info-font mt-4">
              <span class="sub-purple-text">語言能力</span>
              &emsp;{% for language in dict.languages %} {{language}} {% endfor %} <br>
              <p class="text-indent-5 mt-2">
                <span class="sub-purple-text">服務地區</span>
                {% for list in dict.location_list %}
                &emsp;{{list.city}}{{list.county}}&emsp;<span class="sub-font">交通費 ${{list.tranfer_fee}}/趟</span><br>
                {% endfor %}
              </p>
            </div>

            <hr>

            <p class="small-section-title-purple mt-5">服務項目</p>
            <div class="case-info-font mb-5 text-indent-28px">
              {% for service in dict.services %}
              <p><span class="fas fa-check-circle fs-1" style="color: #55D9A0;"></span>&ensp;{{service}}</p>
              {% endfor %}
            </div>

            <p class="small-section-title-purple mt-5">相關資格文件</p>
            <div class="case-info-font mb-5 text-indent-28px">
              <!-- <p><span class="fas fa-times-circle fs-1" style="color: red;"></span>&ensp;未提供 COVID-19 疫苗接種記錄卡</p> -->
              {% for license in dict.license_not_provide %}
              <p><span class="fas fa-times-circle fs-1" style="color: red;"></span>&ensp;未提供 {{license}}</p>
              {% endfor %}
              {% for license in dict.licences %}
              <p><span class="fas fa-check-circle fs-1" style="color: #55D9A0;"></span>&ensp;{{license}}</p>
              {% endfor %}
       
            </div>

            <p class="small-section-title-purple mt-5">關於我</p>
            <div class="case-info-font mb-5 ">
              {{dict.servant.about_me}}
            </div>

            <hr>

            <p class="small-section-title-purple mt-5"><strong> {{dict.servant_rate_nums}} </strong>則評價</p>
            {% for review in dict.reviews %}
            <div class="section-bg-grey my-3">
              <div class="row">
                <div class="col align-self-center" style="display: flex;">
                  <div class="avatar avatar-3xl" >
                    <img class="rounded-circle" src="{% static 'web/assets/img/new/cat_horizontal.jpg' %}" alt="" />
                  </div>
                  <div class="mx-3 mt-1">
                    <span class="case-info-font">{{review.case.user.name}}</span>
                    <p class="case-info-font">{{review.servant_rating_created_at.year}} 年 {{review.servant_rating_created_at.month}} 月</p>
                  </div>
                </div>
                <div class="col align-self-center text-end" style="color: yellow;">
                  {% for i in review.servant_rating_range %}
                    <span class="fas fa-star"></span>
                  {% endfor %}
                  {% if review.servant_rating_is_half_star == True %}
                    <span class="fas fa-star-half-alt"></span>
                  {% endif %}
                </div>
                
              </div>
              <div class="case-info-font">{{review.servant_comment}}</div>
            </div>
            {% endfor %}
            
            <p class=" text-center" style="color: black;" type="button" onclick="location.href='{% url 'search_carer_detail' %}?servant={{dict.servant}}&reviews=all'"><u>看所有評價</u></p>

          </div>

          <!-- 右側 預定欄位 -->
          
          <div class="col-12 col-md-5 col-lg-4 mb-5">
            <div class="booking-box px-4">
              <div class="row">
                <div class="col-1">
                  <p class="small-section-title-purple" style="font-weight: 700;">{{dict.servant.servant_avg_rating}}</p>
                </div>
                <div class="col mx-0" style="color: yellow;">
                  <div class="col align-self-center " style="color: yellow;">
                    {% for i in dict.servant.servant_avg_rate_range %}
                      <span class="fas fa-star"  style="color: yellow; margin-top: 4px;"></span>
                    {% endfor %}
                    {% if dict.servant.servant_avg_rating_is_half_star == True %}
                      <span class="fas fa-star-half-alt"></span>
                    {% endif %}
                  </div>
                    <span class="case-info-font">&ensp;{{dict.servant_rate_nums}}評價</span>
                </div>
              </div>             
              <form method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="mb-3" style="margin: 0; display: flex;">

                <div class="segment__item">
                  <input type="radio" class="segment__input"  id="care_type" name="care_type" value="居家照顧" checked>
                  <div class="segment__button" >居家照顧</div>
                </div>
          
                <div class="segment__item">
                  <input type="radio" class="segment__input"  id="care_type" name="care_type" value="醫院看護">
                  <div class="segment__button">醫院看護</div>
                </div>
                <!-- onclick="location.href='{% url 'search_carer_detail' %}?servant={{dict.servant}}&care_type=居家照顧'" -->
              </div>
              
              <div class="case-info-font">

                <span class="news-subtitle">照護地點</span><br>
                <div class="mt-1 mb-3">
                  <div class="mt-1 btn-group">
                    <button class="dropdown-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      台中市
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#!"><span class="dropdown-item-font">台北市</span></a>
                      <a class="dropdown-item" href="#!"><span class="dropdown-item-font">桃園市</span></a>
                    </div>
                </div>
                <div class="mt-1 btn-group">
                    <button class="dropdown-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      全區
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#!"><span class="dropdown-item-font">信義區</span></a>
                      <a class="dropdown-item" href="#!"><span class="dropdown-item-font">萬華區</span></a>
                    </div>
                </div>

                </div>

                <span class="news-subtitle mt-2">日期</span><br>
                <div class="mt-2 mb-3">
                  <input class="modal-timePicker-button datetimepicker" style="width: 200px;" id="timepicker2" type="text" placeholder="年-月-日 到 年-月-日" data-options='{"mode":"range","dateFormat":"y/m/d","disableMobile":true}' />
                </div>

                <span class="news-subtitle mt-2">時間類型</span><br>
                <div class="my-2 " style="display: flex;">

                  <label class="custom-radio-parent">連續時間
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  <label class="custom-radio-parent">每週時段預定
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>

                </div>
                
                
                <span class="news-subtitle">開始時間 & 結束時間</span><br>
                <div class="mt-1 mb-3">
                  <div class="mt-1 btn-group">
                    <button class="dropdown-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      台中市
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#!"><span class="dropdown-item-font">台北市</span></a>
                      <a class="dropdown-item" href="#!"><span class="dropdown-item-font">桃園市</span></a>
                    </div>
                </div>
                <div class="mt-1 btn-group">
                    <button class="dropdown-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      全區
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#!"><span class="dropdown-item-font">信義區</span></a>
                      <a class="dropdown-item" href="#!"><span class="dropdown-item-font">萬華區</span></a>
                    </div>
                </div>

                </div>
                
                <span class="news-subtitle mt-2">費率</span><br>
                <div class="mt-2 mb-3">
                  每小時 $350｜半天 $2500｜全天 $4000 
                </div>
                
                <div class="row case-info-font mt-3">
                  <div class="col-12 align-self-center">
                    $208x72小時 
                  </div>
                  <div class="col text-end">
                    <strong>$ </strong><span class="section-title-purple"><strong>14,976</strong></span><span class="h6"> 起</span> 
                  </div>
                </div>

                <div class="mt-3">
                  <a href="{% url 'booking_patient_info' %}">
                    <button class="full-green-button">申請預訂</button>
                  </a>
                </div>
              
              </div>
              </form>

            </div>
            
            
          </div>
          
    </div>
  </div>
     
</main>
{% endblock %}