{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->

<main class="main bg-white" id="top" >
    <div style="height:50vh;">
        <br>
        <h3 class="mt-6"><center>您已經傳送接案訊息給發案者，請到 App 訂單訊息查看！</center></h3>
        <br><br><br>
        <div class="text-center ">
                <div class="" >
                    <a href="https://apps.apple.com/tw/app/care168/id1644036067" target="_blank">
                        <img src="{% static 'web/assets/img/new/download_apple.png' %}" alt="" class="" style="max-width: 180px;" >
                    </a>
                </div>
        
                <div class="" >
                    <a href="https://play.google.com/store/apps/details?id=com.chijia.fluttercare168" target="_blank">
                        <img src="{% static 'web/assets/img/new/download_google.png' %}" alt="" class="" style="max-width: 180px;">
                    </a>
                </div>
        </div>
    </div>   
</main>
{% endblock %}