{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >
  <h4 class="text-center pt-5 pb-2 section-title-purple">使用條款</h4>
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="my-5">
        <p><div class="text-center">歡迎您使用Care168-第三方預約照護平台（以下稱Care168）</div><br><br>

          <div>Care168為[杏心網路平台有限公司]（以下稱本公司）（統一編號：90139096）設計、維護與所有權者。</div><br>
          
          本服務條款訂立的目的，是為了保護會員服務的提供者以及所有使用者（以下稱會員）的利益，並構成會員與會員服務提供者之間的契約，使用者於完成註冊手續、或開始使用Care168所提供之服務前，應詳細閱讀本服務條款之全部條文，一旦您勾選我已同意使用條款並進行註冊，即表示您已知悉、並完全同意本服務條款的所有約定。如您是法律上之無行為能力人或限制行為能力人（如未滿二十歲之未成年人），則您在加入會員前，請將本服務條款交由您的法定代理人（如父母、輔助人或監護人）閱讀，並得到其同意，您才可註冊及使用Care168所提供之會員服務。當您開始使用Care168所提供之會員服務時，則表示您的法定代理人（如父母、輔助人或監護人）已經閱讀、了解並同意本服務條款。
          </p> 
        <p class="h5"> 第一條 會員服務</p>
        <p>
          <ul>
            <li>本公司提供Care168主網站https://www.care168.com.tw及所相關子網站（網域：care168.com.tw）（以下合稱「Care168」）之各項會員服務，會員服務僅依當時所提供之功能及狀態提供服務；本公司並保留新增、修改或取消會員服務內相關系統或功能之權利。</li>
            <li>會員服務之始期，係自使用者填妥申請資料並完成註冊程序後，本公司於完成相關系統設定、使會員服務達於可供使用之日開始。如您有購買或使用付費服務，您必須及時提供購買流程中所要求之資料、為適切地提供相關服務，您應擔保所提供的資料，都是正確且即時，如果您所留存的資料事後有變更，應即更新前所留存的資料。</li>
            <li>因會員服務所提供之所有相關網域名稱、網路位址、功能以及其他一切因會員身分得使用之權益，均仍屬本公司或其他合法權利人所有，會員僅得於服務期間內依本服務條款之約定為使用，不得以任何方式將其會員權益轉讓、移轉、出租或出借予其他任何第三人。</li>
            <li>會員同意本公司得不定期提供或寄送電子報、活動訊息及其他生活資訊至您登錄的電子郵件位址或會員提供資料中之地址。</li>
          </ul>
        </p>
        <p class="h5"> 第二條 帳號、密碼與安全性</p>
        <p>
          <ul>
            <li>在您使用會員服務以前，必須經過本公司所訂的註冊手續，在註冊過程中您必須填入完整、而且正確的資料。如因資料錯誤或未更新所造成的任何問題，須自行負擔責任。</li>
            <li>對於您所取得的使用者名稱和密碼，必須負妥善保管和保密之責，並應為使用此使用者名稱和密碼登入後於本網站之一切行為負責。建議於使用完畢後確實登出，並請勿轉讓、出借予第三者使用，如果您的這個使用者名稱和密碼遭他人冒用或不當使用，本公司會儘速協助解決，但不代表負有任何形式賠償或補償責任。</li>
          </ul>  
        </p>
        <p class="h5"> 第三條 Care168依據個人資料保護法（以下稱個資法）第八條規定，向您告知下列事項，請您詳閱。</p>
        <p>
          <ul>
            <li>非公務機關名稱：Care168網站</li>
            <li>蒐集之目的：經營獲目的事業主管機關許可及營業登記項目或章程所定之業務</li>
            <li>個人資料之類別：</li>
                <ul>
                    <li>辨識個人者</li>
                    <li>辨識財務者</li>
                    <li>政府資料中之辨識者</li>
                    <li>個人描述</li>
                    <li>身體描述</li>
                    <li>習慣</li>
                </ul>
          </ul>
          定位資訊 您無需為了使用本服務而提供您的位置資訊（以下簡稱為「地理定位資料」）。但是我們提供使用地理定位資料的功能，目的在為您提供便利性和改善您的用戶體驗。瀏覽資訊 Care168會透過Google Analytics與zendesk蒐集您於Care168網站的瀏覽紀錄以改善您的用戶體驗。  
        </p>
        <p class="h5"> 第四條 責任限制</p>
        <p>
          <ul>
            <li>對於本公司所提供之各項會員服務，均僅依該服務當時之功能及現況提供使用；對於使用者之特定要求或需求，包括但不限於速度、安全性、可靠性、完整性、正確性及不會斷線和出錯等，本公司不負任何形式或內容之擔保或保證責任。</li>
            <li>對於您所上傳的圖片或文字等資料，您應自行判斷是否適宜公開傳送至網站上，並符合各項法律規範，本公司會盡最大努力保證您資料的安全性，但無法保證任檔案或資料於傳送過程均係可靠且正確無誤，亦不保證所儲存的檔案或資料之安全性、可靠性、完整性、正確性及不會斷線和出錯等。若您上傳的圖片或文字等資料違反法律規範，需自行承擔所有責任。</li>
            <li>對於您於本服務中所下載之電子郵件、檔案及其他資料，您應該自行考量其風險，如因下載而造成您電腦系統的損壞或電腦中資料的遺失，本公司不負任何擔保責任。</li>
            <li>在本服務中，由您及其他會員上載、公開傳輸、公開發表或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他資料（以下簡稱「使用者內容」），均由「使用者內容」的提供者自負責任。本服務無法控制經由本服務而張貼之「使用者內容」，因此不保證其正確性、完整性或品質。您了解使用本服務時，可能會接觸到令人不快或厭惡的「使用者內容」。在任何情況下，本公司均不為任何「使用者內容」負責，包含但不限於任何錯誤或遺漏，以及經由本服務張貼、發送電子郵件或傳送而衍生之任何損失或損害。</li>
            <li>由於任何電子傳輸方法或資料儲存方法都不是無懈可擊，我們無法擔保您的個人資訊在系統傳輸或儲存過程中百分之百安全，不被攻擊。為協助保護您的隱私和個人資訊安全，我們需要您的協助。請不要將您的密碼告知他人或使用與其他服務相同的密碼。同時，若發現任何未經授權使用帳號的行為，或任何其他不安全行為，請立刻通知我們。</li>
            <li>本公司對於用戶因使用本系統所產生之任何損害概不負責。但該損害係因本公司之故意或重大過失所致時，不在此限。於此情形，本公司對用戶所生通常且直接之損害，以損害發生月份該用戶支付之付費方案使用費金額為上限，負賠償之責。</li>
          </ul>
        </p>
        <p class="h5"> 第五條 第三方支付商 </p><br>
          <div>本公司與藍新金流簽約成為本平台合作的第三方支付商。服務者了解及同意本平台有權將您的資料提供給合作的第三方支付商，建立服務者的藍新金流會員帳戶。您同意由第三方支付商代為收取服務費用，且於服務完成之前進行價金保管。</div>
          <br>
          <div>成為服務者前請詳閱以下條款（審閱期3個日曆日，若期間無異議視為同意簽約）</div>
          <div>藍新金流服務平台服務條款</div>
          <div>https://www.newebpay.com/website/Page/content/new_service_policy</div>
          <div>藍新金流隱私權保護條款</div>
          <div>https://www.newebpay.com/website/Page/content/privacy</div><br>
        <p class="h5"> 第六條 平台服務</p><br>
          <div>Care168為第三方預約照護平台，註冊會員類別為‘’需求者‘’與“服務者”可使用本平台尋找適合的服務者及照護案件，並成立服務定單(服務合約），服務定單未完成之前，定單價金由［第三方支付商-藍新金流］代為保管。</div><br>
          <div>本平台僅提供會員尋找服務者或照護案件，並不保證會員能成功找到可接案的服務者或成功接下照護案件。</div><br>
          <div>本平台非照服員經紀人、承包商、人力仲介、人力派遣業者；亦無提供任何醫療、護理及照顧服務，平台與服務者之間並無任何直接或間接之委任、派遣、僱傭或勞動關係;亦不能決定服務者的服務費用。</div><br>
          <div>服務者可自訂及調整服務費用、交通費、特殊加價項目。</div>
          <div>本平台計算服務者服務費用方式：</div>
          <div class="ml-2">［連續時間］</div>
          <div>未滿12小時以時薪計算</div>
          <div>12小時～24 小時內以半日薪之平均時薪計算</div>
          <div>24小時以上以全日薪之平均時薪計算</div>
          <div class="ml-2">［指定時段]</div>
          <div>當日未滿12小時以時薪計算</div>
          <div>當日12小時～24 小時內以半日薪之平均時薪計算</div>
          <div>[交通費]（服務者來回)</div>
          <div>連續時間-交通費以一趟計算</div>
          <div>指定時段-交通費以服務次數（天數)計算趟數</div>
          <div>[特殊加價項目]</div>
          <div>服務者自訂或協議後%數計算</div><br>
        </p>
        <p class="h5">第七條 支付方式</p><br>
        <p>
          需求者支付服務費用可使用Visa、MasterCard、JCB信用卡或簽帳金融卡，由與本公司簽約的第三方支付商代收取服務費用。
        </p>
        <p class="h5"> 第八條 平台服務費</p>
        <p>‘’服務者‘’同意成功接案並且服務完成後，依本平台指示第三方支付商代收代扣從服務費用中直接扣除藍新金流交易手續費2.8%及一定比例的平台服務費，其餘服務費用將於第一或第二個星期三匯入您指定的金融帳戶；若未成功接案，則無需支付平台任何費用。

          ‘’需求者‘’了解僅需支付服務費用給您預定的服務者，無需支付任何費用給平台。
          </p>
          <p class="h5">第九條 退款規則</p>
          <p>
            <div>規則ㄧ： 服務者臨時無法前往服務，款項將無條件全額退費。 請即時與平台客服聯絡，我們將協助您全額退款。 （於服務者個人頁面顯示因服務方問題之取消紀錄，供預訂方參考。）</div>
            <br>
            <div>規則二： 需求者於服務前3小時內取消，扣除當日服務費用包含交通費 ，其餘費用可退款。 </div>
            <br>
            <div>規則三： 需求者於服務前1天（24小時內）取消，扣除訂單第一日之服務費用，其餘費用可退款。</div>
            <br>
            <div>規則四： 需求者於服務前2天（48小時內，包含48小時）取消，扣除訂單第一日之服務費用的50%，其餘費用可退款。</div>
            <br>
            <div>規則五： 需求者於服務前2天（48小時外）取消，免收取任何費用，全額退款。 </div>
            <br>
            <div>規則六： 需求者於服務中提前結束服務（提前取消），費用結算至服務截止時間及被取消第一日（取消起24小時內）之服務費用的50%，其餘費用可退款。</div>
            <br>
            <div> 規則七： 服務前（48小時內）被照顧者送急診、住進隔離病房（或需隔離）、檢驗出傳染性疾病、往生等…特殊情況。請即時與平台客服聯絡，我們將協助您全額退款。</div>
            <br>
            <div>
              ※”服務時間已開始”發生特殊狀況視同提前結束服務，請依退款規則六為原則。
              </div>
              <br>
              <div>※”服務前兩天”以上（48小時外）發生特殊狀況依退款規則五可直接取消，全額退款。</div>
            <div> 規則八： 案件服務中”服務者”因故無法繼續服務，待雙方交接完成。 請即時與平台客服聯絡，我們將協助您辦理費用結算，計算方式：依原預定單的平均時薪計算「服務者已服務時數與交通費」，其餘費用將退還給您。 （於服務者個人頁面顯示因服務方問題之中斷服務紀錄，供預訂方參考。）</div>
            <br>
            <div> 規則九： 因應特殊嚴重傳染性肺炎，進出醫院（機構）需要PCR檢測或快篩檢測，若服務者檢測出陽性無法服務的情況。 請即時與平台客服聯絡，我們將協助您辦理費用結算，計算方式：依原預定單的平均時薪計算「服務者已服務時數與以衍生之交通費」，其餘費用將退還給您。</div>
            <br>
          </p>
          <p class="h5">第十條 終止服務</p>
          <p>
            <ul>
              <li>基於公司的運作，會員服務有可能停止提供服務之部分或全部，使用者不可以因此而要求任何賠償或補償。</li>
              <li> 若您有違反本服務條款之情，本公司保留隨時暫時停止提供服務、或終止提供服務之權利，您不可因此而要求任何賠償或補償。</li>
            </ul>  
          </p>

      </div>
    </div>
    <div class="col"></div>
  </div>
  
    
</main>
{% endblock %}