{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white h-100 " id="top" >

  <div class="row text-center mx-3">
    <h4 class="section-title-purple mt-5 mb-5">我的收款方式</h4>
  </div>

  <div class="row">
       
    <div class="my-auto col-8 col-sm-6 col-xl-4 mx-auto">

      <p class="h5 mb-5 text-center">請輸入您的收款帳戶資訊</p>

      <form method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="mb-3">
              <label class="h6" for="bankNameCode">金融機構代碼</label>
              <div class="input-box mb-3">
                <input type="text" id="bankNameCode" name="bankNameCode"/>
              </div>
        </div>

        <div class="mb-3">
              <label class="h6" for="bankBranchCode">金融機構分行代碼</label>
              <div class="input-box mb-3">
                <input type="text" id="bankBranchCode" name="bankBranchCode"/>
              </div>
        </div>

        <div class="mb-3">
              <label class="h6" for="bankAccountNum">金融機構帳戶帳號</label>
              <div class="input-box mb-3">
                <input type="text" id="bankAccountNum" name="bankAccountNum"/>
              </div>
        </div>

        <div class="col-9 mx-auto mt-5">
                <button class="full-purple-button " type="submit" onclick="location.href='#'" >
                  儲存
                </button> 
        </div>

      </form>

    </div>
        
  </div>
     
</main>
{% endblock %}