{% extends 'web/base_logged_in.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >

  <div class="container pt-5">
    <div class="row">
            <div class="col-12 col-md-6 ">
              
                <p class="small-section-title-purple mt-2">案件資訊</p>
                <div class="case-info-font">
                  <p>委託人：林瑜婷</p>
                  <p>案件類型：居家照顧</p>
                  <p>案件地點：桃園市 楊梅區</p>
                  <p class="text-indent-5" >案件時間：連續時間<br>2022/04/18 晚上 8:00 ~ 2022/04/22 晚上 8:00</p>
                </div>

                <p class="small-section-title-purple mt-5">被照顧者資訊</p>
                <div class="case-info-font">
                  <p>性別：男</p>
                  <p>體重：70</p>
                  <p>年齡：70</p>
                  <p>疾病：阿茲海默症</p>
                  <p>補充說明：補充說明補充說明</p>
                  <p>身體狀況：使用輔具</p>
                  <p class="text-indent-5">補充說明：補充說明補充說明補充說明補充說明補充說明補充說明補充說明補充說明補充說明補充說明</p>
                </div>

                <p class="small-section-title-purple mt-5">需求服務項目</p>
                <div class="case-info-font mb-5">
                  <p>
                    <span class="fas fa-check-circle fs-1" style="color: 55D9A0;"></span>
                    安全維護 (預防跌倒、陪同散步、推輪椅、心靈陪伴)
                  </p>
                  <p>
                    <span class="fas fa-check-circle fs-1" style="color: 55D9A0;"></span>
                    協助進食</p>
                  <p>
                    <span class="fas fa-check-circle fs-1" style="color: 55D9A0;"></span>
                    協助如廁</p>
                  <p>
                    <span class="fas fa-check-circle fs-1" style="color: 55D9A0;"></span>
                    陪同就醫</p>
                  <p>
                    <span class="fas fa-check-circle fs-1" style="color: 55D9A0;"></span>
                    代購物品</p>
                  <p>
                    <span class="fas fa-check-circle fs-1" style="color: 55D9A0;"></span>
                    簡易備餐</p>
                  <p>
                    <span class="fas fa-check-circle fs-1" style="color: 55D9A0;"></span>
                    身體清潔
                  </p>
                </div>

            </div>

            <div class="col-12 col-md-6 ">
                <p class="small-section-title-purple mt-2">案件薪資所得</p>
                <div class="section-bg-grey">
                  <span class="case-info-font"><strong>基本費用</strong></span>
                  <div class="row case-info-font">
                    <div class="col-8">
                      $208x72小時
                    </div>
                    <div class="col text-end">
                      $ 14,976
                    </div>
                  </div>
                  <br>
                  <span class="case-info-font"><strong>加價項目</strong></span>
                  <div class="row case-info-font">
                    <div class="col-8">
                      體重超過70公斤<br>
                      &emsp;每小時加 20% x 72小時
                    </div>
                    <div class="col text-end">
                      <br>
                      $ 2,995
                    </div>
                  </div>
                  <br>
                  <div class="row case-info-font">
                    <div class="col-8">
                      <strong>扣除平台費用 15%</strong>
                    </div>
                    <div class="col text-end">
                      - $ 3,146
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-8 case-info-font">
                      <strong>總計</strong>
                    </div>
                    <div class="col text-end " style="color: red;">
                      <strong>$ 14,825</strong> 
                    </div>
                  </div>


                </div>

                <p class="small-section-title-purple mt-4">委託人給我的評價</p>
                <div class="case-info-font section-bg-grey">
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <p>“ 照顧很用心照顧很用心照顧很用心照顧很用心照顧很心照顧很用心照顧很用心照顧很用心照顧很用心照顧很用心照顧很用心照顧很用心 “</p>
                  
                </div>

                <!-- 如果 已給 照顧者評價會顯示這個 -->
                <p class="small-section-title-purple mt-4">我給委託人的評價</p>
                <div class="case-info-font section-bg-grey">
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <span class="fas fa-star"  style="color: yellow;"></span>
                  <p>“ 案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好案主人很好</p>
                </div>

                <!-- 如果 還沒給 照顧者評價會顯示這個 -->
                <p class="small-section-title-purple mt-4">我給委託人的評價</p>
                <div class="case-info-font">
                  <p>我給照顧者幾顆星：</p>
                  <div class="d-block mb-3" data-rater='{"starSize":32,"step":0.5}'></div>
                  <p>請輸入給照顧者的評價(150字以內)：</p>
                  <textarea class="custom-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <div class="d-flex mb-3 flex-row-reverse">
                    <button class="small-green-button mt-3 float-right">送出</button>
                  </div>
                </div>

            </div>

    </div>
  </div>
     
</main>
{% endblock %}