{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white h-100 " id="top" >

      <div class="row text-center mx-3">
        <h4 class="section-title-purple mt-5">我的接案</h4>
      </div>
      {% for case in cases %}
      <div class="row mt-4">
       
        <div class="col-10 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto ">

         <div class="custom-card">
          
          <div class="row">
             
            <div class="d-none d-md-block col-md-3 col-lg-3 col-xl-2">
              <div class="green-border-tag mt-2 ">{% if case.state == 'unComplete' %}未完成{% elif case.state == 'unTaken' %}未承接{% elif case.state == 'Complete' %}已完成{% elif case.state == 'Canceled' %}取消{% else %}提早完成{% endif %}</div>
              <div class="purple-border-tag mt-2">{% if case.care_type == 'home' %}居家照顧{% else %}醫院看護{% endif %}</div>
            </div>

            <div class="d-block d-md-none ">
              <div class="green-border-tag mt-2" style="display: inline-block;">未完成</div>
              <div class="purple-border-tag mt-2" style="display: inline-block;">醫院看護</div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-8">
              <p class="custom-card-font mt-2">
                {{case.start_datetime.year}}/{{case.start_datetime.month}}/{{case.start_datetime.day}} ~ {{case.end_datetime.year}}/{{case.end_datetime.month}}/{{case.end_datetime.day}} <br> 
                時間類型：{% if case.is_continuous_time == True %}連續時間{% else %} 指定時段{% endif %} <br>
                地點：{{case.city}} <br>
                案主評價：{% if review.servant_comment %}{{review.servant_comment}}{% else %}案主尚未評價{% endif %}
              </p>
            </div>

            <div class="col-sm-5 col-md-3 col-lg-2 col-xl-2 align-self-center">
              <a href="{% url 'my_case_detail' %}?case={{case.id}}">
                <button class="small-purple-button">案件詳情</button>
              </a>
              <a href="{% url 'my_simplfy_certificate' %}?case={{case.id}}">
                <button class="small-purple-button mt-2">看護證明</button>
              </a>
              
            </div>

          </div>

         </div>

        </div>
        
      </div>
      {% endfor %}

     
</main>
{% endblock %}
