{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >

      <div class="row text-center mx-3">
        <h4 class="section-title-purple mt-5">我的服務設定</h4>
      </div>

      <!-- tab -->
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
          <div class="col-10 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
            <ul class="nav custom-nav-tabs mt-2" id="myTab" role="tablist">
              <li class="nav-item mx-auto"><a class="nav-link" href="{% url 'my_service_setting_time' %}">時段語言</a></li>
              <li class="nav-item mx-auto"><a class="nav-link" href="{% url 'my_service_setting_services' %}">服務項目</a></li>
              <li class="nav-item mx-auto"><a class="nav-link active" href="{% url 'my_service_setting_about' %}">關於我</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto mt-3">
            <div class="p-3 mt-3" >
              <!-- tab 關於我 -->              
                <p class="custom-card-font mt-3"><strong>相關文件</strong></p>
                <div>
                  {% for licenseImageShip in licenseImageShips %}   
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                      <div class="row mt-2">
                        <div class="col align-self-center">
                          <span class="h6">
                            {{licenseImageShip.license}}
                            {% if licenseImageShip.license.remark %}
                              <br><span class="sub-font">{{licenseImageShip.license.remark}}</span>
                            {% endif %}
                            {% if licenseImageShip.isPassed %}
                              <br>
                              {% if licenseImageShip.image %}
                                <a href={{licenseImageShip.image.url}} > 文件圖片連結 </a>
                              {% endif %}
                              (通過審核)
                            {% else %}
                              <br>
                              {% if licenseImageShip.image %}
                                <a href={{licenseImageShip.image.url}} > 文件圖片連結 </a>
                              {% endif %}
                              (尚未通過審核)
                            {% endif %}
                          </span>
                        </div>
                        <div class="col-5 text-end align-self-center">
                          <input type="hidden" id="licenseId" name="licenseId" value="{{licenseImageShip.license.id}}">
                          <input type="hidden" id="userId" name="userId" value={{user}}>
                          {{ form.user.as_hidden }}
                          <input type="file" name="image" accept="image/*" id="id_image">
                          <div class="text-end">
                            <button class="small-purple-button" type="submit" ><span class="fas fa-plus-circle"></span>上傳照片</button>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </form>
                  {% endfor %}
                </div>

                <p class="custom-card-font mt-5"><strong>關於我</strong></p>
                <textarea class="custom-form-control" id="exampleFormControlTextarea1" name="about_me" rows="3">{{user.about_me}}</textarea>
                
                <div class="row mt-5 ">
                  <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="col align-self-center">
                      <span class="custom-card-font mt-5">
                        <strong>上傳背景照片</strong>
                        {% if user.background_image %}
                          <br><a href={{user.background_image.url}} > 背景圖片連結 </a>
                        {% endif %}
                      </span>
                    </div>
                    <div class="col text-end ">
                      <input type="hidden" id="userId" name="userId" value={{user.phone}}>
                      {{ userform.as_hidden }}
                      <input type="file" name="background_image" accept="image/*" id="id_background_image">
                      <button class="small-purple-button" name="submit"><span class="fas fa-plus-circle"></span>上傳照片</button>
                    </div>
                  </form>
                </div>

                <div class="col-4 mt-7 mx-auto text-center">
                  <button class="full-purple-button" type="submit" >儲存</button>
                </div>
            </div>
          </div>
        </div>
      </form>
     
</main>
{% endblock %}