{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >

      <div class="row text-center mx-3">
        <h4 class="section-title-purple mt-5">我的服務設定</h4>
      </div>

      <!-- tab -->
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
          <div class="col-10 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
            <ul class="nav custom-nav-tabs mt-2" id="myTab" role="tablist">
              <li class="nav-item mx-auto"><a class="nav-link" href="{% url 'my_service_setting_time' %}">時段語言</a></li>
              <li class="nav-item mx-auto"><a class="nav-link" href="{% url 'my_service_setting_services' %}">服務項目</a></li>
              <li class="nav-item mx-auto"><a class="nav-link active" href="{% url 'my_service_setting_about' %}">關於我</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto mt-3">
            <div class="p-3 mt-3" >
              <!-- tab 關於我 -->              
                <p class="custom-card-font mt-3"><strong>相關文件</strong></p>
                <div>
                  {% for licenseImageShip in licenseImageShips %}   
                  
                    <form method="post" id="license_{{licenseImageShip.license.id}}_post" enctype="multipart/form-data">{% csrf_token %}
                    
                        <div class="row mt-2 justify-content-between">

                          <div class="col-sm-12 col-md-4 align-self-center">
                            <span class="h6">
                              {{licenseImageShip.license}}
                              {% if licenseImageShip.license.remark %}
                                <br><span class="sub-font">{{licenseImageShip.license.remark}}</span>
                              {% endif %}
                              {% if licenseImageShip.isPassed %}
                                <br>
                                {% if licenseImageShip.image %}
                                  <a href={{licenseImageShip.image.url}} > 文件圖片連結 </a>
                                {% endif %}
                                (通過審核)
                              {% else %}
                                <br>
                                {% if licenseImageShip.image %}
                                  <a href={{licenseImageShip.image.url}} > 文件圖片連結 </a>
                                {% endif %}
                                (尚未通過審核)
                              {% endif %}
                            </span>
                          </div>
  
                          <div class="col-sm-12 col-md-8 align-self-center">
                              
                                <input type="hidden" id="licenseId" name="licenseId" value="{{licenseImageShip.license.id}}">
                                <input type="hidden" id="userId" name="userId" value={{user}}>
                                {{ form.user.as_hidden }}
                                <div class="d-flex justify-content-end">
                                  <div class="text-end">
                                    <!-- 原本的 choose file -->
                                    <div id="form-container" type="hidden">
                                      <input type="file" name="image" accept="image/*" id="id_{{licenseImageShip.license.id }}_image"  style="padding-right: 0; margin-right: 0;">
                                    </div>
                                    
                                    
                                    <!-- 美化過的 choose file -->
                                    <!-- <label class="btn btn-info rounded-pill">
                                      <input type="file" name="image" accept="image/*" id="id_image" style="display:none;">
                                      選擇圖片
                                    </label> -->
                                    <!--  If you want to display the file name, you need to add a span between the label and the hidden input: 
                                    <span id="file-selected"></span>. 
                                    Then update the span on the change event: 
                                    $('#file-upload').bind('change', function() { var fileName = ''; fileName = $(this).val(); $('#file-selected').html(fileName); }) -->
  
                                  </div>
                                  <div class="text-end">
                                    <button class="small-purple-button" type="button" id="license_{{licenseImageShip.license.id }}_image_submit" ><span class="fas fa-cloud-upload-alt"></span> 上傳</button>
                                  </div>
                                </div>                               
                          </div> 
                        </div>                  
                      <hr>
                    </form>
                  {% endfor %}
                </div>


                <p class="custom-card-font mt-5"><strong>關於我</strong><span> *確保會員權益請勿填寫個人聯絡方式</span></p>
                
                <p class="custom-card-font mt-5"><strong>關於我</strong></p>
                <textarea class="custom-form-control" id="exampleFormControlTextarea1" name="about_me" rows="3">{{user.about_me}}</textarea>
                
                <div>
                  <form method="post" id="background_image_post" enctype="multipart/form-data">{% csrf_token %}
                    
                    <div class="row mt-5 justify-content-between">

                      <div class="col-sm-12 col-md-4 align-self-center">
                    
                      <span class="custom-card-font">
                        <strong>上傳背景照片 </strong>
                        {% if user.background_image %}
                          <br><a href={{user.background_image.url}} > 背景圖片連結 </a>
                        {% endif %}
                      </span>
                      
                      </div>

                      <div class="col-sm-12 col-md-8 text-end align-self-center">
                        <div class="d-flex justify-content-end">

                        <div class="me-2">
                          <input type="hidden" id="userId" name="userId" value={{user.phone}}>
                          {{ userform.as_hidden }}
                          <div id="form2-container" type="hidden">
                            <input type="file" name="background_image" accept="image/*" id="id_background_image">
                          </div>
                          
                        </div>
  
                        <div class="text-end">
                          <button class="small-purple-button" id="backgroundImageBtn" type="button" ><span class="fas fa-cloud-upload-alt"></span> 上傳</button>
                        </div>
  
                        </div>
                      </div>
                    </div>
                    
                  </form>
                  <span>* 確保會員權益請勿上傳個人聯絡方式之圖片</span>
                </div>

                <div class="col-4 mt-7 mx-auto text-center">
                  <button class="full-purple-button" type="submit" >儲存</button>
                </div>
            </div>
          </div>
        </div>
      </form>
     <script>
      const licenseImageCount = Number("{{licenseImageShips|length}}") + 3
      $( document ).ready(function() {
        for (var i = 4; i <= licenseImageCount; i++){
        const license_image_submit = document.getElementById('license_'+String(i)+'_image_submit');
        const id_image = document.getElementById('id_'+String(i)+'_image');
        const form_submit = document.getElementById('license_'+String(i)+'_post')
        license_image_submit.addEventListener('click',function(){
          console.log('click')
          id_image.click();
        });
        // function upload_license_image(){
        //   // id_image_name = id_image.id;
        //   // num = id_image_name.split('id_')[1].split('_image')[0];
        //   // console.log(num);
        //   // document.getElementById('license_'+String(i)+'_post').submit();
        // }
        id_image.addEventListener("change",function(){
          form_submit.submit();
        });
      }
      });
      
      const backgroundImageBtn = document.getElementById('backgroundImageBtn');
      const id_background_image = document.getElementById('id_background_image');
      const background_image_post = document.getElementById('background_image_post');

      backgroundImageBtn.addEventListener('click',function(){
        id_background_image.click();
      })
      id_background_image.addEventListener('change',function(){
        background_image_post.submit();
      });

     </script>
</main>
{% endblock %}