{% extends 'web/base.html' %} {% block content %}
{% load static %}

<script>
  let location_list = [];
  var locations_add_count = {{ user_service_locations|length }};

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                  }
              }
          }
        return cookieValue;
  }
  const csrftoken = getCookie('csrftoken'); 

</script>

<!-- main -->
<main class="main bg-white" id="top" >

      <div class="row text-center mx-3">
        <h4 class="section-title-purple mt-5">我的服務設定</h4>
      </div>

      <!-- tab -->
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
          <div class="col-10 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
            <ul class="nav custom-nav-tabs mt-2" id="myTab" role="tablist">
              <li class="nav-item mx-auto"><a class="nav-link" href="{% url 'my_service_setting_time' %}">時段語言</a></li>
              <li class="nav-item mx-auto"><a class="nav-link active" href="{% url 'my_service_setting_services' %}">服務項目</a></li>
              <li class="nav-item mx-auto"><a class="nav-link" href="{% url 'my_service_setting_about' %}">關於我</a></li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto mt-3">     
            <div class="p-3 mt-3" >   
                <!-- tab 服務項目 -->
                <p class="custom-card-font"><strong>服務類型</strong></p>

                <div>
                    <div class="form-check form-check-inline">
                      {% if user.is_home %}
                        <input class="form-check-input" id="inlineCheckbox1" type="checkbox" name="care_type_home" value="home" checked/>
                      {% else %}
                        <input class="form-check-input" id="inlineCheckbox1" type="checkbox" name="care_type_home" value="home"/>
                      {% endif %}
                    <label class="form-check-label" for="inlineCheckbox1">居家照顧</label>
                    </div>
                    <div class="form-check form-check-inline">
                      {% if user.is_hospital %}
                        <input class="form-check-input" id="inlineCheckbox2" type="checkbox" name="care_type_hospital" value="hospital" checked/>
                      {% else %}
                        <input class="form-check-input" id="inlineCheckbox2" type="checkbox" name="care_type_hospital" value="hospital"/>
                      {% endif %}
                    <label class="form-check-label" for="inlineCheckbox2">醫院看護</label>
                    </div>
                </div>

                <p class="custom-card-font mt-3"><strong>居家照顧 服務費用</strong></p>
                <div>
                    <span class="h6">時薪&ensp;</span>
                    <input class="service-setting-input" style="width: 60px;" id="home-hour" name="home_hour" type="text" value={{user.home_hour_wage}} />
                    <span class="h6 form-check-inline">&ensp;元</span>
                    <span class="news-content">( 未滿 12 小時以每小時<u>時薪</u>計價 )</span>
                </div>
                <div class="mt-2">
                    <span class="h6">半天&ensp;</span>
                    <input class="service-setting-input" style="width: 60px;" id="home-half-day" name="home_half_day" type="text" value={{user.home_half_day_wage}} />
                    <span class="h6 form-check-inline">&ensp;元</span>
                    <span class="news-content">( 12 ~ 24 小時以<u>半天價格之時薪</u>計價 )</span>
                </div>
                <div class="mt-2">
                    <span class="h6">全天&ensp;</span>
                    <input class="service-setting-input" style="width: 60px;" id="home-full-day" name="home_full_day" type="text" value={{user.home_one_day_wage}} />
                    <span class="h6 form-check-inline">&ensp;元</span>
                    <span class="news-content">( 24 小時以上以<u>全天價格</u>計價 )</span>
                </div>

                <p class="custom-card-font mt-3"><strong>醫院看護 服務費用</strong></p>
                <div>
                    <span class="h6">時薪&ensp;</span>
                    <input class="service-setting-input" style="width: 60px;" id="hospital_hour" name="hospital_hour" type="text" placeholder="" value={{user.hospital_hour_wage}} />
                    <span class="h6 form-check-inline">&ensp;元</span>
                    <span class="news-content">( 未滿 12 小時以每小時<u>時薪</u>計價 )</span>
                </div>
                <div class="mt-2">
                    <span class="h6">半天&ensp;</span>
                    <input class="service-setting-input" style="width: 60px;" id="hospital_half_day" name="hospital_half_day" type="text" placeholder="" value={{user.hospital_half_day_wage}} />
                    <span class="h6 form-check-inline">&ensp;元</span>
                    <span class="news-content">( 12 ~ 24 小時以<u>半天價格之時薪</u>計價 )</span>
                </div>
                <div class="mt-2">
                    <span class="h6">全天&ensp;</span>
                    <input class="service-setting-input" style="width: 60px;" id="hospital_full_day" name="hospital_full_day" type="text" placeholder="" value={{user.hospital_one_day_wage}} />
                    <span class="h6 form-check-inline">&ensp;元</span>
                    <span class="news-content">( 24 小時以上以<u>全天價格</u>計價 )</span>
                </div>

                <p class="custom-card-font mt-3"><strong>服務地區</strong></p>

                <input type="hidden" id="hidden_locations" name="hidden_locations[]">
                <div id="">
                  {% for service_location in user_service_locations %}
                    <div class="mt-2" id="locations_{{forloop.counter0}}" >
                      <div class="btn-group">
                        <select class="dropdown-button" id="city_select_{{forloop.counter0}}" name="city_{{forloop.counter0}}" onchange="listCities(this.id, '')" >
                          {% for city in citys %}
                            <option style="text-align: center" name="city_option" value="{{city.id}}" 
                              {% if city.id == service_location.city.id %} 
                                selected="selected" 
                              {% endif %} >
                                {{city}}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                      &ensp;
                      &ensp;
                      <script>
                        location_list.push({{forloop.counter0}});
                        console.log(location_list);
                      </script>

                      <span class="h6 ml-3">
                        交通費&ensp;
                          <input class="service-setting-input" style="width: 60px;" id="traffic-fee_{{forloop.counter0}}" name="transfer_fee_{{forloop.counter0}}" type="text" placeholder="" value={{service_location.transfer_fee}} />
                        元／趟
                      </span>
                      <button type="button" id="{{forloop.counter0}}" class="btn-close btn-sm " aria-label="Close" onClick="Cancel(this.id)"></button>
                    </div>
                  {% endfor %}
                </div>
                
                <div id="locations_add">
                  {% for i in location_range %}
                    <div class="mt-2" id="locations_{{i}}" hidden>
                      <div class="btn-group">
                        <select class="dropdown-button" id="city_select_{{i}}" name="city_{{i}}"  >
                          {% for city in citys %}
                            <option style="text-align: center" name="city_option" value="{{city.id}}" 
                              {% if city.id == 4 %} 
                                selected="selected" 
                              {% endif %} >
                                {{city}}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                      &ensp;
                      &ensp;

                      <span class="h6 ml-3">
                        交通費&ensp;
                          <input class="service-setting-input" style="width: 60px;" id="traffic-fee_{{i}}" name="transfer_fee_{{i}}" type="text" placeholder="" value="0" />
                        元／趟
                      </span>
                      <button type="button" id="{{i}}" class="btn-close btn-sm " aria-label="Close" onClick="Cancel(this.id)"></button>
                    </div>
                  {% endfor %}
                </div>
                <button class="small-green-button mt-3" onclick="showHidden()">+ 增加地區</button>

                <p class="custom-card-font mt-3"><strong>服務項目</strong></p>
                <div>
                    {% for service in services %}
                      <div class="form-check">
                          {% if service.id in user_services_ids%}
                            <input class="form-check-input" id="flexCheckChecked" name="services[]" type="checkbox" value="{{service.id}}" checked/>
                          {% else %}
                            <input class="form-check-input" id="flexCheckChecked" name="services[]" type="checkbox" value="{{service.id}}" />
                          {% endif %}
                          <label class="h6 mb-0" for="flexCheckChecked">{{service}}</label>
                          <div class="">
                          {% if service.remark %}
                              <span class="sub-font">{{service.remark}}</span>
                          {% endif %}
                          </div>
                      </div>
                    {% endfor %}
                    
                </div>

                <p class="custom-card-font mt-3"><strong>特殊狀況加價項目，自設時薪 % 數：</strong></p>
                <div>
                    {% for increase_service in increase_services %}
                    <!-- <div class="form-check">
                      {% if increase_service.id in user_services_ids %}
                        <input class="form-check-input mt-2" id="{{increase_service}}" name="increases[]" type="checkbox" value="{{increase_service.id}}" checked/>
                      {% else %}
                        <input class="form-check-input mt-2" id="{{increase_service}}" name="increases[]" type="checkbox" value="{{increase_service.id}}" />
                      {% endif %} -->
                      
                      <label class="h6 mb-0" for="flexCheckChecked">{{increase_service}}：</label>

                      {% if increase_service.id in user_services_ids %}
                        {% for ship in user_service_ships %}
                          {% if ship.service.id == increase_service.id %}
                            <input class="service-setting-input" style="width: 60px;" name="{{increase_service}}percent" type="text" placeholder="" value={{ship.increase_percent}} />
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        <input class="service-setting-input" style="width: 60px;" name="{{increase_service}}percent" type="text" placeholder="" value='0' />
                      {% endif %}
                      
                      <span class="h6">%</span> <br>
                    <!-- </div> -->
                    {% endfor %}
                    <span class="h6">例：服務費用一天 2600 加價 5% = 每日增加 $130</span>
                </div>
                    
                <div class="col-4 mt-7 mx-auto text-center">
                    <button class="full-purple-button " type="submit">儲存</button>
                </div>
            </div>
          </div>
        </div>
      </form>
    <script>
      locations_add_html = document.getElementById('locations_add');

      const hidden_locations = document.getElementById('hidden_locations')

      function showHidden(){
        event.preventDefault();
        document.getElementById("locations_"+locations_add_count).hidden = false;
        
        location_list.push(locations_add_count);
        console.log(location_list)
        hidden_locations.value = location_list

        locations_add_count ++;
      }

      function AddLocations(){
        event.preventDefault();
        
        locations_add_count ++;

        button_id = locations_add_count;
        location_list.push(locations_add_count);
        console.log(location_list)
        hidden_locations.value = location_list
        
        var locations_id = 'locations_'+ String(locations_add_count);
        var name_city = 'city_' + String(locations_add_count)
        var id_city = 'city_select_' + String(locations_add_count)
        var transfer_fee_name = 'transfer_fee_' + String(locations_add_count)

        locations_add_html.innerHTML += `<div class="mt-2" id="${locations_id}">`
        location_html = document.getElementById(locations_id)
        location_html.innerHTML = `
                    <div class="btn-group">
                      <select class="dropdown-button" id="${id_city}" name="${name_city}" onchange="listCities(this.id, '')" >
                      
                        {% for city in citys %}
                          <option style="text-align: center" name="city_option" value="{{city.id}}" {% if city.id == 4 %} selected="selected" {% endif %}>{{city}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    &ensp;
                    
                    &ensp;
                    <span class="h6 ml-3">
                      交通費&ensp;
                      <input class="service-setting-input" style="width: 60px;" id="${transfer_fee_name}" name="${transfer_fee_name}" type="text" placeholder="" value="${locations_add_count}"/>
                      元／趟
                    </span>
                    <button type="button" id="${button_id}" class="btn-close btn-sm " aria-label="Close" onClick="Cancel(this.id)"></button>
                  `;
      }

      function Cancel(button_id){
        location_list = location_list.filter(function(item) {
            return item !== Number(button_id)
        })
        console.log(location_list)
        hidden_locations.value = location_list
        cancel_html = document.getElementById('locations_'+String(button_id))
        cancel_html.innerHTML = ``
      }

      $( document ).ready(function() {
        hidden_locations.value = location_list;
      });

    </script>
     
</main>
{% endblock %}