{% extends 'web/base_logged_in.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white h-100 " id="top" >
  <div class="row text-center mx-3">
    <h4 class="section-title-purple mt-5 mb-5">我的基本資料</h4>
  </div>

  <div class="text-center">
    <div class="img-fluid avatar avatar-5xl ">
      <img class="rounded-circle" src="{% static 'web/assets/img/new/cat_horizontal.jpg' %}" alt="" />
    </div>
  </div>

  <div class="row">
       
        <div class="my-auto col-11 col-sm-6 col-md-5 col-xl-3 mx-auto text-center ">
          
          <p class="text-center news-title">林瑜婷</p>

          <p class="custom-card-font div-centered" style="line-height: 40px;">
            性別：尚未提供 <br>
            手機號碼：0912345678 (已透過簡訊驗證) <br>
            地址：尚未提供 <br>
            電子郵件：abc@gmail.com <br>
            綁定 LINE 帳號：您已綁定 LINE 帳號 <br>
          </p>
          
          <div class="row">
            <div class="col-8 mx-auto">
              <a href="{% url 'my_edit_profile' %}">
                <button class="full-purple-button mt-5">
                  <span class="fas fa-edit"></span>
                  修改資料
                </button>
              </a>
            </div>
          </div>    
          
        </div>
        
  </div>
     
</main>
{% endblock %}