{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white" id="top" >
      <div class="row text-center mx-3">
        <h4 class="section-title-purple mt-5">評價</h4>
      </div>
      <!-- tab -->
      <div class="row">
        <div class="col-10 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
          <ul class="nav custom-nav-tabs mt-2" id="myTab" role="tablist">
            <li class="nav-item mx-auto"><a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#review-list" role="tab" aria-controls="tab-home" aria-selected="true">尚未評價</a></li>
            <li class="nav-item mx-auto"><a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#given-reviews" role="tab" aria-controls="tab-profile" aria-selected="false">我的評價</a></li>
            <li class="nav-item mx-auto"><a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#received-reviews" role="tab" aria-controls="tab-contact" aria-selected="false">給我的評價</a></li>
          </ul>
        </div>
      </div>
      <!-- tab content -->
      <div class="row">
        <div class="col-10 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto mt-3">
          <div class="tab-content p-3 mt-3" id="pill-myTabContent">
            
            <!-- tab 尚未評價 -->
            <div class="tab-pane fade show active" id="review-list" role="tabpanel" aria-labelledby="home-tab">
              {% for order in not_rated_orders %}
                <div class="custom-card mb-3">
                  
                  <div class="row justify-content-between">
                    
                    <div class="col-10 col-sm-7 col-md-7 col-lg-6 col-xl-7">
                      <div class="purple-border-tag mt-2">{% if order.case.care_type == 'home' %}居家照顧{% else %}醫院看護{% endif %}</div>
                      <p class="custom-card-font mt-2">
                        日期：{{order.case.start_datetime.year}}/{{order.case.start_datetime.month}}/{{order.case.start_datetime.day}} ~ {{order.case.end_datetime.year}}/{{order.case.end_datetime.month}}/{{order.case.end_datetime.day}} <br> 
                        時間類型：{% if order.case.is_continuous_time == True %}連續時間{% else %}指定時段{% endif %} <br>
                      </p>
                    </div>
        
                    <div class="d-none d-md-block col-md-5 col-lg-5 col-xl-4 align-self-center text-center">
                      <div class="highlight-text">{{order.servant.name}}還在等您的評價！</div>
                      <div class="mt-2">
                        <a href="{% url 'my_write_review' %}?order={{order.id}}">
                          <button class="small-green-button">
                            <span class="fas fa-edit"></span>
                            撰寫評價
                          </button>
                        </a>
                      </div>
                    </div>
        
                    <div class="d-block d-md-none ">
                      <div class="highlight-text">{{order.servant.name}}還在等您的評價！</div>
                      <div class="text-center mt-3">
                        <button class="small-green-button ">
                          <span class="fas fa-edit"></span>
                          撰寫評價
                        </button>
                      </div>
                    </div>
        
                  </div>
                  
                </div>
              {% endfor %}
              
            </div>
            
            <!-- tab 我的評價 -->
            <div class="tab-pane fade" id="given-reviews" role="tabpanel" aria-labelledby="profile-tab">
              {% for review in my_rating_reviews %}
              <div class="custom-card mb-3">
          
                <div class="row justify-content-around">
                  <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
                    <div class="avatar  avatar-4xl">
                      <img class="rounded-circle" src="{% static 'web/assets/img/team/1.jpg' %}" alt="" />
                    </div>
                  </div>

                  <div class="col-sm-7 col-md-6 col-lg-6 col-xl-6">
                    
                    <p class="custom-card-font mt-2">
                      照顧者：{{review.servant.name}} <br>
                      日期：{{review.case.start_datetime.year}}/{{review.case.start_datetime.month}}/{{review.case.start_datetime.day}} ~ {{review.case.end_datetime.year}}/{{review.case.end_datetime.month}}/{{review.case.end_datetime.day}} <br> 
                      時間類型：{% if review.case.is_continuous_time == True %}連續時間{% else %}指定時段{% endif %}  
                    </p>
                  </div>

                  <div class="col-sm-2 col-md-3 col-lg-4 col-xl-2 align-self-start">
                    <p class="purple-border-tag">{% if review.case.care_type == 'home' %}居家照顧{% else %}醫院看護{% endif %}</p>
                  </div>
                </div>

                <hr>

                <div class="row">
                   
                  <div class="col-10 col-sm-9 col-md-8 col-lg-8 col-xl-7">
                    <span class="custom-card-font">我給照顧者幾顆星：</span>
                    <div style="color: yellow;">
                      {% for i in review.servant_rating_range %}
                        <span class="fas fa-star"  ></span>
                      {% endfor %}
                      {% if review.servant_rating_is_half_star == True %}
                        <span class="fas fa-star-half-alt" ></span>
                      {% endif %}
                      {% for i in review.servant_rating_empty_star_range %}
                        <i class="fa-regular fa-star"></i>  
                      {% endfor %}
                    </div>
                    <div class="custom-card-font mt-2 mb-1">
                      我給照顧者的評價：
                    </div>                    
                  </div>
                  <div class="custom-card-font">
                      {{review.servant_comment}}
                  </div>

                </div>

              </div> 
              {% endfor %}
            </div>
            
            <!-- tab 給我的評價 -->
            <div class="tab-pane fade" id="received-reviews" role="tabpanel" aria-labelledby="contact-tab">
              
            
              <p class="custom-card-font text-center">
                總共 {{user.needer_rate_nums}} 筆評價 | 平均 {{user.needer_avg_rating}} 顆星
              </p>

              <div class="text-center mb-3" style="color: yellow;">
                {% for i in user.needer_avg_rate_range %}
                <span class="fas fa-star"  ></span>
                {% endfor %}
                {% if user.needer_avg_rating_is_half_star == True %}
                  <span class="fas fa-star-half-alt" ></span>
                {% endif %}
                {% for i in user.needer_avg_rating_empty_star_range %}
                  <i class="fa-regular fa-star"></i>  
                {% endfor %}
              </div>
              {% for review in my_reviews %}
              <div class="custom-card mb-3">
          
                <div class="row justify-content-around">
                  <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
                    <div class="avatar  avatar-4xl">
                      <img class="rounded-circle" src="{% static 'web/assets/img/team/1.jpg' %}" alt="" />
                    </div>
                  </div>

                  <div class="col-sm-7 col-md-6 col-lg-6 col-xl-6">
                    
                    <p class="custom-card-font mt-2">
                      照顧者：{{review.servant.name}} <br>
                      日期：{{review.case.start_datetime.year}}/{{review.case.start_datetime.month}}/{{review.case.start_datetime.day}} ~ {{review.case.end_datetime.year}}/{{review.case.end_datetime.month}}/{{review.case.end_datetime.day}} <br> 
                      時間類型：{% if review.case.is_continuous_time == True %}連續時間{% else %}指定時段{% endif %}  
                    </p>
                  </div>

                  <div class="col-sm-2 col-md-3 col-lg-4 col-xl-2 align-self-start">
                    <p class="purple-border-tag">{% if review.case.care_type == 'home' %}居家照顧{% else %}醫院看護{% endif %}</p>
                  </div>
                </div>

                <hr>

                <div class="row">
                   
                  <div class="col-10 col-sm-9 col-md-8 col-lg-8 col-xl-7">
                    <span class="custom-card-font">照顧者給我幾顆星：</span>
                    <div style="color: yellow;">
                      {% for i in review.case_offender_rating_range %}
                        <span class="fas fa-star"  ></span>
                      {% endfor %}
                      {% if review.case_offender_rating_is_half_star == True %}
                        <span class="fas fa-star-half-alt" ></span>
                      {% endif %}
                      {% for i in review.case_offender_rating_empty_star_range %}
                        <i class="fa-regular fa-star"></i>  
                      {% endfor %}
                    </div>
                    <div class="custom-card-font mt-2 mb-1">
                      照顧者給我的評價：
                    </div>                    
                  </div>
                  <div class="custom-card-font">
                    {{review.case_offender_comment}}
                  </div>

                </div>

              </div>
              {% endfor %}     

            </div>
          </div>
          
        </div>
      </div>
     
</main>
{% endblock %}