{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- main -->
<main class="main bg-white h-100" id="top" >

      <div class="row text-center mx-3">
        <h4 class="section-title-purple mt-5">寫評價</h4>
      </div>
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="mx-auto">
        <div class="row">
          <div class="col-10 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto mt-3">
            <div class="p-3 custom-card-font">
              <p style="font-weight: 700;">給照顧者 {{order.servant.name}} 評價</p>
              <p class="">{{order.case.start_datetime.year}}/{{order.case.start_datetime.month}}/{{order.case.start_datetime.day}} ~ {{order.case.end_datetime.year}}/{{order.case.end_datetime.month}}/{{order.case.end_datetime.day}}  |  {% if order.case.is_continuous_time == True %}連續時間{% else %}指定時段{% endif %}  |  {% if order.case.care_type == 'home' %}居家照顧{% else %}醫院看護{% endif %}</p>
              
              <div class="">我給照顧者幾顆星：</div>
              <div id='myRater' class="d-block"></div>
              <input type="hidden" id="myInput" name="myInput" value="0">
              <br>

              <p>請輸入給照顧者的評價(150字以內)：</p>
              <textarea class="custom-form-control" name="comment" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-3 text-end">
            <a href="{% url 'my_reviews' %}">
              <button class="full-purple-button mt-5" name="back" type="submit">
                <span class="far fa-arrow-alt-circle-left"></span>
                上一頁
              </button>
            </a>
            
          </div>
          <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-3 text-start">
            <button class="full-purple-button mt-5" type="submit" name="post">
              送出
            </button>
          </div>
  
        </div>
      </div>
      </form>

</main>
{% endblock %}